/* menu_upper_bacground: */
background: #003B53;
/* contact_background: */
background: #FF6A2E;
/* 企業情報: */
font-family: HiraKakuPro-W6;
font-size: 14px;
color: #FFFFFF;
/* 採用情報: */
font-family: HiraKakuPro-W6;
font-size: 14px;
color: #FFFFFF;
/* お知らせ: */
font-family: HiraKakuPro-W6;
font-size: 14px;
color: #FFFFFF;
/* お問い合せはこちら: */
font-family: HiraginoSans-W7;
font-size: 16px;
color: #EEEEEE;
/* Oval 15: */
background: #FFFFFF;
border: 1px solid #979797;
/* Oval 16: */
background: #C30E00;
/* Oval 15: */
background: rgba(155,154,155,0.80);
/* Mask: */
background: #FFFFFF;
/* Rectangle 93: */
background: #D0021B;
/* Rectangle 93 Copy: */
background: #FFFFFF;
/* Rectangle 93 Copy 2: */
background: #D0021B;
/* Rectangle 93 Copy 3: */
background: #FFFFFF;
/* Rectangle 93 Copy 4: */
background: #D0021B;
/* Rectangle 93 Copy 5: */
background: #FFFFFF;
/* Rectangle 93 Copy 6: */
background: #D0021B;
/* Rectangle 93 Copy 7: */
background: #FFFFFF;
/* Rectangle 93 Copy 8: */
background: #D0021B;
/* Rectangle 93 Copy 9: */
background: #FFFFFF;
/* Rectangle 93 Copy 10: */
background: #D0021B;
/* Rectangle 93 Copy 11: */
background: #FFFFFF;
/* Rectangle 93 Copy 12: */
background: #D0021B;
/* Rectangle 93 Copy 13: */
background: #FFFFFF;
/* Rectangle 93 Copy 14: */
background: #D0021B;
/* Rectangle 93 Copy 15: */
background: #FFFFFF;
/* Rectangle 93 Copy 16: */
background: #D0021B;
/* Rectangle 110: */
background: #0C3C73;
/* Oval 24: */
background: #FFFFFF;
/* Oval 24 Copy 8: */
background: #FFFFFF;
/* Oval 24 Copy 4: */
background: #FFFFFF;
/* Oval 24 Copy 9: */
background: #FFFFFF;
/* Oval 24 Copy: */
background: #FFFFFF;
/* Oval 24 Copy 10: */
background: #FFFFFF;
/* Oval 24 Copy 5: */
background: #FFFFFF;
/* Oval 24 Copy 11: */
background: #FFFFFF;
/* Oval 24 Copy 2: */
background: #FFFFFF;
/* Oval 24 Copy 12: */
background: #FFFFFF;
/* Oval 24 Copy 6: */
background: #FFFFFF;
/* Oval 24 Copy 13: */
background: #FFFFFF;
/* Oval 24 Copy 3: */
background: #FFFFFF;
/* Oval 24 Copy 14: */
background: #FFFFFF;
/* Oval 24 Copy 7: */
background: #FFFFFF;
/* Oval 24 Copy 15: */
background: #FFFFFF;
/* Mask: */
border: 1px solid #979797;
/* Rectangle 194: */
background: #FFFFFF;
border: 1px solid #4A4A4A;
/* Oval 16: */
background: #C30E00;
/* Rectangle 93: */
background: #D0021B;
/* Rectangle 93 Copy: */
background: #FFFFFF;
/* Rectangle 93 Copy 2: */
background: #D0021B;
/* Rectangle 93 Copy 3: */
background: #FFFFFF;
/* Rectangle 93 Copy 4: */
background: #D0021B;
/* Rectangle 93 Copy 5: */
background: #FFFFFF;
/* Rectangle 93 Copy 6: */
background: #D0021B;
/* Rectangle 93 Copy 7: */
background: #FFFFFF;
/* Rectangle 93 Copy 8: */
background: #D0021B;
/* Rectangle 93 Copy 9: */
background: #FFFFFF;
/* Rectangle 93 Copy 10: */
background: #D0021B;
/* Rectangle 93 Copy 11: */
background: #FFFFFF;
/* Rectangle 93 Copy 12: */
background: #D0021B;
/* Rectangle 110: */
background: #0C3C73;
/* Oval 24: */
background: #FFFFFF;
/* Oval 24 Copy 8: */
background: #FFFFFF;
/* Oval 24 Copy 4: */
background: #FFFFFF;
/* Oval 24 Copy 9: */
background: #FFFFFF;
/* Oval 24 Copy: */
background: #FFFFFF;
/* Oval 24 Copy 10: */
background: #FFFFFF;
/* Oval 24 Copy 5: */
background: #FFFFFF;
/* Oval 24 Copy 11: */
background: #FFFFFF;
/* Oval 24 Copy 2: */
background: #FFFFFF;
/* Oval 24 Copy 12: */
background: #FFFFFF;
/* Oval 24 Copy 6: */
background: #FFFFFF;
/* Oval 24 Copy 13: */
background: #FFFFFF;
/* Oval 24 Copy 3: */
background: #FFFFFF;
/* Oval 24 Copy 16: */
background: #FFFFFF;
/* Oval 24 Copy 14: */
background: #FFFFFF;
/* Oval 24 Copy 17: */
background: #FFFFFF;
/* Oval 24 Copy 7: */
background: #FFFFFF;
/* Oval 24 Copy 18: */
background: #FFFFFF;
/* Oval 24 Copy 15: */
background: #FFFFFF;
/* Oval 24 Copy 19: */
background: #FFFFFF;
/* Rectangle 194: */
border: 1px solid #4A4A4A;
/* Rectangle 1332: */
background: rgba(0,58,83,0.70);
/* Language: */
font-family: AvenirNext-Medium;
font-size: 10px;
color: #FFFFFF;

