/* フッター */
footer{
	background:@mainBgc_rowdark;
	height:200px;
	margin-top:40px;
}

/* ロゴ */
.footerLogoBoxParent{
    width:100%;
    .footerLogoBox{
        margin: 25px auto 0;
        text-align: center;
    }
}
/* 住所他 */
.adressLine{
	color:#fff;
	font-size: 1.2rem;
    margin: 20px 0;
    li{
        margin: 3px 0;
    }
    li:nth-child(4){
        margin-bottom: 10px;
    }
    li:nth-child(1){
        margin-bottom: 10px;
    }
    li:nth-child(2){
        margin-bottom: 10px;
    }
}
/* サイトマップ */