@import "muramotoColor.less";
@import "footer.less";
/* 簡易リセット */
.reset{
    margin:0px;
    padding:0px;
    font-size:62.5%;
}

/* font */

@font-base:1rem;
.menuText(@font-size:1rem){
    font-size:@font-size;
    font-weight:bold;
}

p{
    line-height:@font-base*1.5;
}

body {
    //簡易リセット
    .reset;
    font-family:-apple-system,'AvenirNext','Hiragino Kaku Gothic ProN','游ゴシック','Yu-Gothic','メイリオ',meiryo,sans-serif;
    #foo {
          background-size: 320px 480px;
          @media screen and (-webkit-device-pixel-ratio:2){
               background-image: url('bg_x2.png');
          }
          @media screen and (-webkit-device-pixel-ratio:1){
               background-image: url('bg.png');
          }
    }
}
#header{
    h1{
        font-size:@font-base*4;
        font-family:'Times New Roman','游明朝',Yu-mincho,'Hiragino Mincho ProN',sans-serif;
        color:@black;
    }
	&.headerMenu{
    	&.upperMenuBox{
    	    background:@mainBgc_dark;
    	    height:
    		&.menu_upperMenu{
    		    .menuText(1.4rem);
    		}
    		&.menu_slectLang{
    		    .menuText(1rem);
    		}
    		&.menu_contact{
    		    .menuText(1.6rem);
    		    &:before{
    		        
    		    }
    		}	
    	}
    	&.bottomMenuBox{
    		&.logo{
    			
    		}
    		
    	}
    	&.bottomMenuBox{
    	    &.logobox{
    	    }
    	    &.bottomMenu{
    	    }
    	}
    }
}
