

/* 簡易リセット */

.reset {
    margin: 0px;
    padding: 0px;
}


/* font */

@font-base: 1rem;
.menuText(@fontSize) {
    font-size: @fontSize;
    font-weight: bold;
}


/* 縦横　*/

.pxbox(@tate: 0px, @yoko: 0px) {
    height: @tate;
    width: @yoko;
}

.animate(@minit: 0.3s) {
    -webkit-transition: all @minit;
    -moz-transition: all @minit;
    -ms-transition: all @minit;
    -o-transition: all @minit;
    transition: all @minit;
}

p {
    line-height: @font-base*1.5;
}

body,
header,
footer,
wrapper,
a,
p,
ul,
li,
table,
tbody,
th,
tr,
td,
div,
spam {
    .reset;
    list-style-type: none;
}

body {
    //簡易リセット
    //font-size: 62.5%;
    font-family: -apple-system, 'AvenirNext', '游ゴシック体', 'Yu-Gothic', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
    #foo {
        background-size: 320px 480px;
        @media screen and (-webkit-device-pixel-ratio: 2) {
            background-image: url('bg_x2.png');
        }
        @media screen and (-webkit-device-pixel-ratio:1) {
            background-image: url('bg.png');
        }
    }
    a {
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}

//ドロップダウンメニュー
.upperMenulist {
    list-style-type: none;
    padding: 0;
    float: left;
    display: flex;
    .menuText(1.2rem);
    .pxbox(40px,240px);
    background: @mainBgc_rowdark;
    li {
        text-align: center;
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 0;
        a {
            .pxbox(40px,
            80px);
            display: block;
            margin: 0;
            .animate(0.5s);
            color: @gray_highlight;
            font-size: 1.2rem;
            text-decoration: none;
        }
        ul {
            visibility: hidden;
            opacity: 0;
            list-style: none;
            position: absolute;
            top: 100%;
            left: 0;
            margin: 0;
            padding: 0;
            li {
                width: 300%;
                height: 0;
                color: @gray_highlight;
                a {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0 15px;
                    background: @mainBgc_dark;
                    text-align: left;
                    font-size: 12px;
                }
            }
        }
        &:hover {
            background: @gray_highlight;
            ul {
                z-index: 99999;
                visibility: visible;
                opacity: 1;
                .animate(0.3s);
                li {
                    //overflow: visible;
                    height: 38px;
                    border-top: 1px solid @mainBgc_rowdark;
                    border-bottom: 1px solid @mainBgc_rowdark;
                    a {
                        width: 300%;
                        visibility: visible;
                        opacity: 1;
                        .animate(0.3s);
                    }
                }
            }
        }
        &:last-child ul {
            left: -100%;
            width: 200%;
        }
        &:hover > a {
            background: @gray_highlight;
            color: @mainBgc_rowdark;
        }
    }
}

#header {
    //display:none;
    z-index: 1000;
    .pxbox(100px,
    100%);
    position: fixed;
    top: 0;
    left: 0;
    h1 {
        font-size: @font-base*4;
        font-family: 'Times New Roman', '游明朝', Yu-mincho, 'Hiragino Mincho ProN', sans-serif;
        color: @black;
    }
}

header{
    //display:none;
    z-index:1000;
    .pxbox(100px,100%);
    position:fixed;
    top:0;
    left:0;
    h1{
        font-size:@font-base*4;
        font-family:'Times New Roman','游明朝',Yu-mincho,'Hiragino Mincho ProN',sans-serif;
        color:@black;
    }
	
}

.upperMenuBack{
    background:@mainBgc_rowdark;
    .pxbox(40px,100%);
}

.upperMenuBox {
    color: @gray_highlight;
    float: right;
    .pxbox(40px,
    620px);
    line-height: 40px;
}

.menu_slectLang {
    float: left;
    .pxbox(40px,190px);
    .menuText(1rem); //8px
}

.selectTxt {
    .pxbox(40px,
    110px);
    float: left;
    text-align: center;
}

.menuflags {
    margin: 0 auto;
    .pxbox(40px,
    80px);
    float: right;
}

.miniFlag {
    float: left;
    img {
        .pxbox(20px,
        30px);
        margin: 10px 2px;
    }
}

.menu_contact {
    position: relative;
    float: left;
    .menuText(1.6rem);
    display: block;
    background: @keyClr_orange;
    .pxbox(100%,190px);
    text-align: center;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: transparent;
        border-top: 20px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid @mainBgc_rowdark;
    }
    a {
        color: #fff;
        .pxbox(100%,190px);
        display: block;
    }
}

.bottomMenuBox {
    .pxbox(60px,100%);
    .menuText(1.4rem);
    background: @mainBgc_rowdark;
    opacity: 0.9;
    .bottomMenu {
        float: right;
        .menuText(1.4rem);
        .pxbox(60px,
        620px);
    }
}

.bottomMenuBox_underpage {
    .pxbox(60px,100%);
    .menuText(1.4rem);
    background: @mainBgc_highdark;
    opacity: 0.9;
    .logobox {}
    .bottomMenu {
        float: right;
        .menuText(1.4rem);
        .pxbox(60px,620px);
        &:after {
            clear: both;
        }
    }
}

.bottomMenulist {
    .pxbox(60px,620px);
    line-height: 60px;
    display: flex;
    li {
        flex-grow: 1;
        list-style-type: none;
        vertical-align: middle;
        text-align:center;
        position: relative;
        a {
            color: @gray_highlight;
            padding: 0 10px;
            height: 60px;
            .animate(0.5s);
            display: block;
            &:hover {
                background: @gray_highlight;
                color: @mainBgc_rowdark;
                .animate(0.5s);
            }
        }
        ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            li {
                width: 120%;
                line-height: 40px;
                text-align: left;
                a {
                    visibility: hidden;
                    opacity: 0;
                    height: 38px;
                    border-top: 1px solid @mainBgc_rowdark;
                    border-bottom: 1px solid @mainBgc_rowdark;
                    .menuText( 1.4rem);
                    background: @mainBgc_dark;
                }
            }
        }
        &:hover {
            ul {
                visibility: visible;
                opacity: 1;
                .animate(0.5s);
                li {
                    //overflow: visible;
                    a {
                        visibility: visible;
                        opacity: 1;
                        .animate(0.5s);
                    }
                }
            }
        }
        &:last-child ul {
            left: -100%+10px;
            width: 200%;
        }
        &:hover > a {
            background: @gray_highlight;
            color: @mainBgc_rowdark;
        }
    }
}

.heroHeader-navArea {
    position: relative;
    top: 400px;
    opacity: 0.5;
    background: #000;
    height: 200px;
    width: 100%;
}

.imageHolder {
    z-index: -1;
}

.logobox {
    float:left;
    img {
        margin-left: 44px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    a{
        display:block;
    }

}
//swiper
.swiper-container {
    width: 600px;
    height: 300px;
}      