/* 基本色 */
/* 簡易リセット */
.reset {
  margin: 0px;
  padding: 0px;
}
/* font */
/* 縦横　*/
p {
  line-height: 1.5rem;
}
body,
header,
footer,
wrapper,
a,
p,
ul,
li,
table,
tbody,
th,
tr,
td,
div,
spam {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body {
  font-size: 62.5%;
  font-family: -apple-system, 'AvenirNext', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu-Gothic', 'メイリオ', meiryo, sans-serif;
}
body #foo {
  background-size: 320px 480px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
  body #foo {
    background-image: url('bg_x2.png');
  }
}
@media screen and (-webkit-device-pixel-ratio: 1) {
  body #foo {
    background-image: url('bg.png');
  }
}
body a {
  text-decoration: none;
}
.upperMenulist {
  list-style-type: none;
  padding: 0;
  float: left;
  display: flex;
  font-size: 0.875rem;
  font-weight: bold;
  height: 40px;
  width: 240px;
  background: #003b53;
}
.upperMenulist li {
  text-align: center;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.upperMenulist li a {
  height: 40px;
  width: 80px;
  display: block;
  margin: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
  color: #eeeeee;
  font-size: 0.875rem;
  text-decoration: none;
}
.upperMenulist li ul {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.upperMenulist li ul li {
  width: 300%;
  height: 0;
  color: #eeeeee;
}
.upperMenulist li ul li a {
  visibility: hidden;
  opacity: 0;
  padding: 0 15px;
  background: #00597d;
  text-align: left;
  font-size: 12px;
}
.upperMenulist li:hover {
  background: #eeeeee;
}
.upperMenulist li:hover ul {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.upperMenulist li:hover ul li {
  height: 38px;
  border-top: 1px solid #003b53;
  border-bottom: 1px solid #003b53;
}
.upperMenulist li:hover ul li a {
  width: 300%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.upperMenulist li:last-child ul {
  left: -100%;
  width: 200%;
}
.upperMenulist li:hover > a {
  background: #eeeeee;
  color: #003b53;
}
#header {
  z-index: 1000;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header h1 {
  font-size: 4rem;
  font-family: 'Times New Roman', '游明朝', Yu-mincho, 'Hiragino Mincho ProN', sans-serif;
  color: #000000;
}
header {
  z-index: 1000;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header h1 {
  font-size: 4rem;
  font-family: 'Times New Roman', '游明朝', Yu-mincho, 'Hiragino Mincho ProN', sans-serif;
  color: #000000;
}
.upperMenuBack {
  background: #003b53;
  height: 40px;
  width: 100%;
}
.upperMenuBox {
  color: #eeeeee;
  float: right;
  height: 40px;
  width: 620px;
  line-height: 40px;
}
.menu_slectLang {
  float: left;
  height: 40px;
  width: 190px;
  font-size: 0.4rem;
  font-weight: bold;
}
.selectTxt {
  height: 40px;
  width: 110px;
  float: left;
  text-align: center;
}
.menuflags {
  margin: 0 auto;
  height: 40px;
  width: 80px;
  float: right;
}
.miniFlag {
  float: left;
}
.miniFlag img {
  height: 20px;
  width: 30px;
  margin: 10px 2px;
}
.menu_contact {
  position: relative;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  background: #ff6a2e;
  height: 100%;
  width: 190px;
  text-align: center;
}
.menu_contact:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #003b53;
}
.menu_contact a {
  color: #fff;
  height: 100%;
  width: 190px;
  display: block;
}
.bottomMenuBox {
  height: 60px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background: #003b53;
  opacity: 0.9;
}
.bottomMenuBox .bottomMenu {
  float: right;
  font-size: 1rem;
  font-weight: bold;
  height: 60px;
  width: 620px;
}
.bottomMenuBox_underpage {
  height: 60px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background: #0077a7;
  opacity: 0.9;
}
.bottomMenuBox_underpage .bottomMenu {
  float: right;
  font-size: 1rem;
  font-weight: bold;
  height: 60px;
  width: 620px;
}
.bottomMenuBox_underpage .bottomMenu:after {
  clear: both;
}
.bottomMenulist {
  height: 60px;
  width: 620px;
  line-height: 60px;
  display: flex;
}
.bottomMenulist li {
  flex-grow: 1;
  list-style-type: none;
  vertical-align: middle;
  position: relative;
}
.bottomMenulist li a {
  color: #eeeeee;
  padding: 0 10px;
  height: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
  display: block;
}
.bottomMenulist li a:hover {
  background: #eeeeee;
  color: #003b53;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
}
.bottomMenulist li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.bottomMenulist li ul li {
  width: 120%;
  line-height: 40px;
  text-align: left;
}
.bottomMenulist li ul li a {
  visibility: hidden;
  opacity: 0;
  height: 38px;
  border-top: 1px solid #003b53;
  border-bottom: 1px solid #003b53;
  font-size: 0.875rem;
  font-weight: bold;
  background: #00597d;
}
.bottomMenulist li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
}
.bottomMenulist li:hover ul li a {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
}
.bottomMenulist li:last-child ul {
  left: -90%;
  width: 200%;
}
.bottomMenulist li:hover > a {
  background: #eeeeee;
  color: #003b53;
}
.heroHeader-navArea {
  position: relative;
  top: 400px;
  opacity: 0.5;
  background: #000;
  height: 200px;
  width: 100%;
}
.imageHolder {
  z-index: -1;
}
.logobox {
  float: left;
}
.logobox img {
  margin-left: 44px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.logobox a {
  display: block;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
