body {
  font-family: -apple-system, 'AvenirNext', '游ゴシック体', 'Yu-Gothic', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
}
table {
	border-collapse: collapse;
	margin: 20px auto;
}
th {
	border: solid 1px #666666;
	color: #000000;
	background-color: #ff9999;
	padding: 5px;
}
td {
	border: solid 1px #666666;
	color: #000000;
	background-color: #ffffff;
	padding: 10px;
	height: 30px;
}
a{
	text-decoration: none;
}