/* 基本色 */
@mainBgc_rowdark: #003B53;
@mainBgc_dark: #00597D;
@mainBgc_highdark: #0077A7;
@mainBgc_nomal: #0095D1;
@mainBgc_rowlight: #33AADA;
@mainBgc_light: #66BFE3;
@mainBgc_highlight: #99D4EC;
@keyClr_orange:#FF6A2E;
@gray_highlight:#EEEEEE;
@gray_light:#D8D8D8;
@gray_highdark:#9B9B9B;
@gray_dark:#4A4A4A;
@link_text:#B11C00;
@alart_text:#B11C00;
@black:#000000;
@red:#B11C00;