//testSlider.less
.animate(@minit: 0.3s) {
    -webkit-transition: all @minit;
    -moz-transition: all @minit;
    -ms-transition: all @minit;
    -o-transition: all @minit;
    transition: all @minit;
}
body {
    margin:0;
}
.swiper-container, .swiper-slide {
  height: 600px;
  width:100%;
}
.swiper-pagination-bullet{
    background:#fff;
}
.swiper-slide {
    position: relative;
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    /*
    .title {
        font-size: 41px;
        font-weight: 300;
    }
    .subtitle {
        font-size: 21px;
    }
    .text {
        font-size: 14px;
        max-width: 400px;
        line-height: 1.3;
    }
    */
    .image {
        z-index:-1;
        position:absolute;
        top:0;
        left:0;
        width:100%;
	    height: 600px;
    }
}
.boxInSlider{
	width: 200px;
	height: 100px;
	background-color: #190505;
}
.swiper-back{
	position: absolute;
	display: block;
	width: 100%;
	top:337px;
	left: 0;
	height: 263px;
	padding: 20px 60px;
	box-sizing: border-box;
	color: #000;
}
.sb-bg{
		background: #020000;
		position: absolute;
		display: block;
		width: 100%;
		top:0;
		left: 0;
		height: 263px;
        padding: 100px 60px 20px;
		background: url("../img/imgs/top_headerImg_bg.png") repeat-x;
}
.sb-contentsBox{
    color: #fff;
    >.title{
        font-size: 4.1rem;
        font-weight: 300;
        text-align: center;
    }
    .sb-btn{
        display: block;
        color: #fff;
        font-size: 2.1rem;
        font-weight: 300;
        text-align: center;
        min-width: 100px;
        max-width: 350px;
        margin: 10px auto 0;
        /* 白い囲み */
        padding: 10px 5px;
        border: 1px solid #fff;
        /* 角丸 */
        border-radius:5px;
        -o-border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        .animate(0.2s);
        &:hover{
            background: #fff;
            color: #003B53;
            .animate(0.2s);
        }
    }
}

.swiper-button-prev{
	background-image: url("../img/imgs/arrowLeft.png");
	top:80%;
}
.swiper-button-next{
	background-image: url("../img/imgs/arrowRight.png");
	top:80%;
}
.swiper-pagination-bullet-active{
	background: #fff;
}