@import "muramotoColor.less";
@import "normalize.less";

.animate(@minit:0.3s){
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all @minit;
}

ul,li{
    padding:0;
}
/*
.dropmenu{
    //*zoom: 1;
    list-style-type: none;
    width: 240px;
    margin: 5px auto;
    padding: 0;
    &:befor{
        content: "";
        display: table;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    li{
        position: relative;
        width: 33%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        a{
            display: block;
            margin: 0;
            padding: 15px 0 11px;
            background:  @mainBgc_rowdark;
            color: @gray_highlight;
            font-size: 14px;
            line-height: 1;
            text-decoration: none;
            &:hover{
                background:  @gray_highlight;
                color:@mainBgc_rowdark;
            }
        }
    }
    
    ul{
        list-style: none;
        position: absolute;
        z-index: 9999;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        li{
            width: 100%;
            a{
                padding: 13px 15px;
                border-top: 1px solid @mainBgc_rowdark;
                background: @mainBgc_dark;
                text-align: left;
            }
            &:hover > a{
                background: @gray_highlight;
                color:@mainBgc_rowdark;
            }
            &:hover{
                background: @gray_highlight;
                color:@mainBgc_rowdark;
            }
        }
    }
}


#fade-in li ul{
    visibility: hidden;
    opacity: 0;
    transition: 0s;
}
#fade-in li:hover ul{
    visibility: visible;
    opacity: 1;
}
#fade-in li ul li a{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
#fade-in li:hover ul li a{
    visibility: visible;
    opacity: 1;
}
*/
/*
.dropmenu{
    list-style-type: none;
    width: 240px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background: @mainBgc_rowdark;
    li{
        position: relative;
        width: 33%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        a{
            display: block;
            margin: 0;
            color: @gray_highlight;
            font-size: 14px;
            line-height: 40px;
            text-decoration: none;
        }
        &:hover{
            ul{
                li{
                    overflow: visible;
                    height: 40px;
                    border-top: 1px solid @mainBgc_rowdark;
                    border-bottom: 1px solid @mainBgc_rowdark;
                    &:first-child{
                        border-top: 0;
                    }
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }
        &:last-child ul li{
            left: -100%;
            width: 200%;
        }
        ul{
            li{
                width: 100%;
                overflow: hidden;
                height: 0;
                color: #fff;
                -moz-transition: .2s;
                -webkit-transition: .2s;
                -o-transition: .2s;
                -ms-transition: .2s;
                transition: .2s;
                a{
                    padding: 0 15px;
                    background: @mainBgc_dark;
                    text-align: left;
                    font-size: 12px;
                    font-weight: normal;
                }
                &:hover > a{
                    background: @gray_highlight;
                    color: @mainBgc_rowdark;
                }
            }
        }
        
    }
    
}
*/

.dropmenu{
    list-style-type: none;
    width: 240px;
    height: 40px;
    margin: 30px auto 300px;
    padding: 0;
    background: @mainBgc_rowdark;
    li{
        position: relative;
        width: 80px;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        a{
            display: block;
            margin: 1;
            .animate(0.3s);
            //padding: 15px 0 11px;
            color: #fff;
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 40px;
            text-decoration: none;
        }
        ul{
            visibility: hidden;
            opacity: 0;
            list-style: none;
            position: absolute;
            top: 100%;
            left: 0;
            margin: 0;
            padding: 0;
            li{
                //overflow: hidden;
                width: 100%;
                height: 0;
                color: #fff;
                //.animate(0.3s);
                a{
                    visibility: hidden;
                    opacity: 0;
                    padding: 0 15px;
                    background: @mainBgc_dark;
                    text-align: left;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
        &:hover{
            ul{
                visibility: visible;
                opacity: 1;
                .animate(0.3s);
                li{
                    //overflow: visible;
                    height: 38px;
                    border-top: 1px solid @mainBgc_rowdark;
                    border-bottom: 1px solid @mainBgc_rowdark;
                    a{
                        visibility: visible;
                        opacity: 1;
                        .animate(0.3s);
                    }
                }
            }
        }
        
        &:last-child ul{
            left: -100%;
            width: 200%;
        }
        &:hover > a{
            background:  @gray_highlight;
            color: @mainBgc_rowdark;
        }
    }
}
#dropmenu li:hover ul li:first-child{
    border-top: 0;
}
#dropmenu li:hover ul li:last-child{
    border-bottom: 0;
}