body {
  margin: 0;
}
.swiper-container,
.swiper-slide {
  height: 600px;
}
.swiper-slide {
  position: relative;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.swiper-slide .subtitle {
  font-size: 21px;
}
.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.swiper-slide .image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}
.boxInSlider {
  width: 200px;
  height: 100px;
  background-color: #190505;
}
.swiper-back {
  position: absolute;
  display: block;
  width: 100%;
  top: 337px;
  left: 0;
  height: 263px;
  padding: 20px 60px;
  box-sizing: border-box;
  color: #000;
}
.sb-bg {
  background: #020000;
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  height: 263px;
  background: url("../img/imgs/top_headerImg_bg.png") repeat-x;
}
.swiper-button-prev {
  background-image: url("../img/imgs/arrowLeft.png");
  top: 80%;
}
.swiper-button-next {
  background-image: url("../img/imgs/arrowRight.png");
  top: 80%;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
