@import "muramotoColor.less";
@import "header.less";

/* wrapper function */

.shadowDepthY(@depthNum, @directNum, @spread, @opacity) {
    box-shadow: 0px @depthNum @directNum @spread rgba(0, 0, 0, @opacity);
    -o-box-shadow: 0px @depthNum @directNum @spread rgba(0, 0, 0, @opacity);
    -ms-box-shadow: 0px @depthNum @directNum @spread rgba(0, 0, 0, @opacity);
    -moz-box-shadow: 0px @depthNum @directNum @spread rgba(0, 0, 0, @opacity);
    -webkit-box-shadow: 0px @depthNum @directNum @spread rgba(0, 0, 0, @opacity);
}

.taransScale(@scaleNum) {
    -moz-transform: scale(@scaleNum, @scaleNum);
    -webkit-transform: scale(@scaleNum, @scaleNum);
    -o-transform: scale(@scaleNum, @scaleNum);
    -ms-transform: scale(@scaleNum, @scaleNum);
}

.boxRadius(@radiusNum) {
    border-radius: @radiusNum;
    -o-border-radius: @radiusNum;
    -ms-border-radius: @radiusNum;
    -moz-border-radius: @radiusNum;
    -webkit-border-radius: @radiusNum;
}

.bottomLine(@color) {
    border-bottom: 10px solid @color;
}

.lineGradient(@color1, @color2) {
    background-image: linear-gradient(top, @color1 0%, @color2 100%);
    background-image: -moz-linear-gradient(top, @color1 0%, @color2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2));
}

.lineGradientRe(@color1, @color2) {
    background-image: linear-gradient(top, @color2 0%, @color1 100%);
    background-image: -moz-linear-gradient(top, @color2 0%, @color1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@color2), to(@color1));
}

.secUnderBarNone{
    border-bottom-style: hidden;
}
.bottomUnderBar{
    border-bottom: 1px solid @gray_highdark;
}

.bd_fixed {
    position: fixed;
    top: 100px;
    left: 0;
    z-index:99;
    background: rgba(255,255,255,0.9);
    margin: 0 auto;
    width: 100%;
    padding: 5px 25px 0;
    height: 35px;
    +section{
        margin-top:35px;
    }
}
.pf_fixed {
    position: fixed;
    top: 135px;
    left: 0;
    z-index:100;
    background: rgba(255,255,255,0.9);
    margin: 0 auto;
    width: 100%;
    padding: 5px 25px 0;
    height: 90px;
    .shadowDepthY(10px, 10px, 0px, 0.2);
    .animate(0.3s);
    +section{
        margin-top:100px;
    }
}
.underBarNon{
    border-bottom-style: none;
}
.textCentering{
    text-align: center;
}

/* Font */

h1 {
    font-size: 3.8rem;
    line-height: 3.8rem;
    //font-weight: bold;
    margin: 20px 0 10px;
}

h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 10px 0;
}

h3 {
    font-size: 2.0rem;
    line-height: 2.0rem;
    margin: 0;
}

h4 {
    font-size: 1.8rem;
    line-height: 50px;
    margin: 0;
}

.fMincho {
    font-family: "Times New Roman", YuMin-Medium, "游明朝体";
}


/* wrapper */

section {
    margin: 10px 0;
    border-bottom: 1px solid #EEEEEE;
}

#emg {
    border-bottom: 1px solid @gray_dark;
}

.emergency {
    text-align: center;
    color: @red;
    font-weight: 900;
    line-height: 1rem;
    margin: 4px auto 10px;
}

.buttonBlock {
    display: block;
    //.boxRadius(5px);
    .shadowDepthY(3px, 10px, 0px, 0.5);
    position: relative;
    top: 0;
    .animate(0.2s);
    //margin: 10px 0 20px;
    &:hover {
        .shadowDepthY(7px, 14px, 0px, 0.4);
        top: -4px;
        .animate(0.2s);
    }
}

.buttonBlock200 {
    .pxbox(200px, 100%);
    margin: 10px 0 20px;
}

.buttonBlock120 {
    .pxbox(120px, 100%);
    margin: 10px 0 20px;
}

.textboxArea200 {
    .pxbox(80px, 100%);
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 1;
    &:hover +.imageArea img {
        .taransScale(1.1);
        .animate(5s);
    }
}

.textboxArea120 {
    .pxbox(30px, 100%);
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 1;
    &:hover +.imageArea img {
        .taransScale(1.1);
        .animate(5s);
    }
}

.imageArea {
    overflow: hidden;
    width: 100%;
    //height: 200px;
    &:hover {
        overflow: hidden;
        .animate(2s);
    }
    img {
        //display: block;
        height: auto;
        width: 125%;
        min-width: 100%;
        .animate(2s);
        &:hover {
            .taransScale(1.1);
            .animate(5s);
        }
    }
}

.imageArea200 {
    height: 200px;
}

.imageArea120 {
    height: 120px;
}

.imagTextLinkBox {
    padding: 10px;
    box-sizing: border-box;
    background: @gray_highlight;
    //border: 2px solid @keyClr_orange;
    color: #fff;
    height: 124px;
    display: block;
    .shadowDepthY(3px, 10px, 0px, 0.5);
    position: relative;
    top: 0;
    .animate(0.2s);
    margin: 10px 0 20px;
    &:hover {
        .shadowDepthY(7px, 14px, 0px, 0.4);
        top: -4px;
        .animate(0.2s);
    }
}

.imagTextLinkInfo {
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 100px;
    .Image {
        height: 100px;
        width: 100px;
    }
    .Text {
        width: 100%;
        min-width: 180px;
    }
    .Title {
        padding: 0 0 5px 10px;
        text-align: justify;
        word-break: break-strict;
        font-weight: bold;
        //color:@mainBgc_highdark;
    }
    .Subject {
        padding: 0 0 0 10px;
        font-size: 1.2rem;
        word-break: break-strict;
        color: @gray_dark;
    }
}

.table2colomun{
    table{
        border: 1px solid @gray_highdark;
        border-collapse: collapse;
    }
    th,td{
        
        padding: 10px;
        border: 1px solid @gray_highdark;
    }
    th{
        width: 15%;
        background: @gray_highlight;
    }
}


/* section css */

.container {
    margin-bottom: 10px;
}

.topSectionTitle {
    border-bottom: 2px solid @keyClr_orange;
    margin: 0px 0px 10px 0px;
}

.topSectionSubTitle {
    margin: 20px 0px 5px 0px;
    color: @mainBgc_dark;
}

.topArticle {
    padding: 0 10px;
    margin: 5px 0;
}

.titleBoxParent {
    /*position: relative;
	width: 100%;
	height: 120px;*/
    /* */
    height: 120px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.titleBox {
    /*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin: auto;*/
    width: 300px;
    height: 70px;
    text-align: center;
    border-bottom: 2px solid @keyClr_orange;
}

.titleBox_info {
    width: 160px;
}

.margibottom20{
    margin-bottom: 40px;
}
/* button Link */

.buttonTitle {
    font-size: 1.4rem;
    text-align: center;
    color: @gray_dark;
    line-height: 30px;
}

.bTitle {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 5px 0 2px;
    color: @mainBgc_dark;
}

.textCenter {
    text-align: center;
}

.textJust {
    text-align: justify;
    text-justify: inter-ideograph;
}

.buttonArticle {
    font-size: 1.4rem;
    box-sizing: border-box;
    padding: 0 15px 5px;
    color: @gray_dark;
}

.topSectionButton {
    position: relative;
    margin: 20px auto;
    .pxbox(50px, 350px);
    .lineGradient(#0095D1, #0077A7);
    .boxRadius(10px);
    top: 0;
    &:before {
        content: "";
        display: block;
        .pxbox(50px, 350px);
        position: absolute;
        top: 5px;
        left: 0;
        z-index: -1;
        .boxRadius(10px);
        background: @mainBgc_rowdark;
    }
    &:hover {
        .lineGradient(#66BFE3, #33AADA);
        &:before {
            background: @mainBgc_highdark;
        }
    }
    &:active {
        top: 5px;
        .lineGradientRe(#0095D1, #0077A7);
        &:before {
            top: 0;
        }
    }
    a {
        display: block;
        .pxbox(50px, 350px);
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}

.orangeButton {
    position: relative;
    margin: 0px auto;
    .pxbox(50px, 150px);
    .lineGradient(#FF6A2E, #CC5424);
    .boxRadius(10px);
    top: 0;
    &:before {
        content: "";
        display: block;
        .pxbox(50px, 150px);
        position: absolute;
        top: 5px;
        left: 0;
        z-index: -1;
        .boxRadius(10px);
        background: #6A1000;
    }
    &:hover {
        .lineGradient(#FFA581, #FF8757);
        &:before {
            background: #6A1000;
        }
    }
    &:active {
        top: 5px;
        .lineGradientRe(#CC5424, #FF6A2E);
        &:before {
            top: 0;
        }
    }
    a {
        display: block;
        .pxbox(50px, 150px);
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}

/* top Product Facility Label */

.imageLabelBlock {
    display: block;
    position: relative;
    top: 0;
    .animate(2s);
    margin: 10px 0;
}

.imgLabel120 {
    .pxbox(120px, 100%);
}

.labeltextboxArea {
    background: rgba(238, 238, 238, 1);
}

.labelTitle {
    padding: 5px;
    text-align: center;
}


/* top 国内外拠点 */

.topGlobalLocationButton {
    position: relative;
    .pxbox(40px, 100%);
    .shadowDepthY(5px, 10px, -2px, 0.4);
    border: 1px solid @gray_highdark;
    box-sizing: border-box;
    margin: 10px 0 5px;
    .animate(0.3s);
    top: 0;
    a {
        display: block;
        .pxbox(40px, 100%);
        text-decoration: none;
    }
    &:hover {
        top: -3px;
        .shadowDepthY(8px, 13px, -2px, 0.3);
        .animate(0.3s);
    }
}

.DCNameText {
    font-size: 1.6rem;
    line-height: 30px;
    padding: 5px 10px;
    color: @gray_dark;
    font-weight: bold;
}

.DCNup {
    margin-top: -10px;
}

.DCGName {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 4px 10px 4px 5px;
    color: @gray_dark;
    font-weight: bold;
    float: left;
    &:before {
        content: "";
        clear: both;
    }
}

.DCGOverView {
    float: right;
    font-weight: normal;
    padding: 4px 5px 4px 0;
}

.DCGContryText {
    float: left;
    padding: 0 5px;
    color: @gray_dark;
    text-align: right;
}

.DCGContryEng {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.DCGContryJp {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.DCGContryFlag {
    float: right;
    .pxbox(30px, 45px);
}


/* information Posts */

.infoPost {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 100%;
    .infoDate {
        align-self: center;
        font-size: 1.2rem;
        font-weight: bold;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        max-width: 90px !important;
        margin-bottom: 5px;
    }
    .infoCate {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        max-width: 70px !important;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .infoSubject {
        overflow: hidden;
        max-width: 650px;
        white-space: nowrap;
        -webkit-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: justify;
        -webkit-flex-grow: 2;
        flex-grow: 2;
        -webkit-align-items: baseline;
        align-items: baseline;
        a{
        }
    }
    .underpageInfo{
        max-width: 600px;
    }
    .infoPage{
        max-width: 560px;
    }
}

.cate-type {
    font-size: 0.8rem;
    font-weight: bold;
    width: 60px;
    height: 2.0rem;
    margin: 0 auto;
    .boxRadius(3px);
    padding: 3px;
    text-align: center;
}

.infoTag {
    color: #fff;
    background: @keyClr_orange;
    line-height: 1.2rem;
}

.newTag {
    box-sizing: border-box;
    border: 2px solid @red ;
    background: #eee;
    line-height: 1.0rem;
}

.emgTag {
    color: #fff;
    background: @red;
    line-height: 1.2rem;
}


/* contact */

.topContact {
    text-align: center;
}

.titleCenter {
    margin: 10px auto;
    width: 240px;
}

.topContactBox {
    border: 2px solid @keyClr_orange;
}

.contactInfo {
    .contactTitle {
        color: @keyClr_orange;
    }
}


/* under contents */

.breadcrumbList {
    display: inline-flex;
    display: -webkit-inline-flex;
    font-size: 1.2rem;
    >li {
        margin: 0px 5px;
        &:after {
            margin-left: 5px;
            content: "＞";
        }
        &:last-child {
            &:after {
                content: "";
            }
        }
    }
}

.contentBlock_title {
    padding: 15px 10px;
    background: @mainBgc_highdark;
    color: @gray_highlight;
}

.orangeTitle {
    padding: 15px 10px;
    background-color: transparent;
    border-bottom: 2px solid @keyClr_orange;
    color: @keyClr_orange;
}

.contentBlock_detail {
    padding: 0 40px;
    margin: 10px 0;
    article {
        padding: 0 10px;
        margin: 15px 0;
        font-size: 1.4rem;
        p {
            line-height: 2.1rem;
            margin-bottom: 1.4rem;
            text-align: justify;
        }
    }
    .second_st {
        width: 80%;
        margin: 0 auto;
    }
    .col6Image {
        padding: 0 10px;
        margin: 10px 0;
        width: 100%;
        height: 120px;
        overflow: hidden;
        img {
            overflow: hidden;
            width: 100%;
            height: auto;
        }
    }
}

.contentBlock_subTitle {
    padding: 10px 0;
    color: @mainBgc_rowlight;
    text-align: center;
    border-bottom: 2px solid @mainBgc_rowlight;
    h3 {
        font-weight: bold;
    }
}

.content-btn-text {
    .pxbox(45px, 320px);
    a {
        text-align: center;
        .pxbox(45px, 320px);
    }
    h4 {
        font-size: 1.4rem;
    }
    &:before {
        .pxbox(45px, 320px);
    }
}


/* recommend */

.recommendLinkBox {
    border: 2px solid @gray_highdark;
}

.recommendLinkInfo {
    .recommendLinkTitle {
        color: @mainBgc_highdark;
    }
}

.recommendTitle {
    color: @gray_highdark;
}


/* manufactuering */

.manufactueringMenuBack {
    background: @gray_highlight;
}

.manufactueringMenuBox {
    margin-bottom: 0px;
    >.contentTitle {
        float: left;
        height: 70px;
        padding: 20px 0 10px;
        h1 {
            margin: 0;
        }
    }
    >.contentMenuBox {
        float: right;
        ul {
            height: 70px;
            display: inline-flex;
            display: -webkit-inline-flex;
            >li {
                border-left: 1px solid #fff;
                text-align: center;
                font-size: 1.8rem;
                display: table;
                a {
                    display: table-cell;
                    color: @gray_highdark;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 2.5rem;
                    padding: 0 20px;
                    height: 70px;
                    .animate(0.3s);
                    &:hover {
                        background: @mainBgc_highdark;
                        color: #fff;
                        .animate(0.3s);
                    }
                }
                .m_selected {
                    display: table-cell;
                    background: @mainBgc_dark;
                    color: #fff;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 2.5rem;
                    padding: 0 20px;
                    height: 70px;
                }
                &:last-child {
                    border-right: 1px solid #fff;
                }
            }
        }
    }
}

.m_draft {
    p {
        line-height: 3.5rem;
    }
}


/* 一貫同期生産 */

.cs_draft {
    padding: 0 15px;
    text-align: justify;
    p {
        line-height: 3.5rem;
    }
}

.orangeColor {
    color: @keyClr_orange;
    text-align: left;
    h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    p {
        margin-bottom: 1.5rem;
        line-height: 3.5rem;
    }
    article {
        p {
            line-height: 2.1rem;
            margin-bottom: 2.1rem;
        }
    }
}

.cs_image {
    margin: 20px 0;
    img {
        width: 75vw;
        max-width: 940px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 0;
        display: block;
        .animate(0.3s);
        .shadowDepthY(3px, 10px, 0px, 0.4);
        &:hover {
            top: -4px;
            .animate(0.3s);
            .shadowDepthY(7px, 14px, 0px, 0.4);
        }
    }
}

.cs_prodTitle {
    color: @mainBgc_dark;
    text-align: left;
    border-bottom: 2px solid @mainBgc_dark;
}

.cs_prodImageBox {
    height: 110%;
    width: 100%;
    margin: 10px 0 20px;
    .cs_prodImage {
        padding: 0 10px;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}


/* Global Network */

.gn_title {
    border-bottom-style: none;
}

.gn_articleBlock {
    padding: 0 0 0 30px;
    .gn_articleTitle {
        font-weight: bold;
        font-size: 1.8rem;
        color: @mainBgc_dark;
        padding: 0 0 0 10px;
        margin-bottom: 10px;
    }
}


/* image popup*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* philosophy */

.phi_imagebox {
    height: 55px;
    width: auto;
    padding: 10px;
    color: #fff;
    background-position: center center;
    .phi_name_en {
        float: left;
        font-size: 2.5rem;
        font-weight: 900
    }
    .phi_name_jp {
        float: right;
        font-size: 2.5rem;
    }
}

.phi_articleBox {
    background: @gray_highlight;
    min-height: 205px;
    margin-bottom: 20px;
    padding: 10px 20px;
    article {
        font-size: 1.4rem;
        p {
            line-height: 2.1rem;
            margin-bottom: 1.4rem;
            text-align: justify;
        }
    }
}

.phi_eco {
    background-image: url(../img/imgs/phi_eco.png);
}
.phi_qua {
    background-image: url(../img/imgs/phi_qua.png);
}
.phi_cost {
    background-image: url(../img/imgs/phi_cost.png);
}
.phi_deli {
    background-image: url(../img/imgs/phi_deli.png);
}

/* product faciliti info */

.subNub{
    div{
        background: #eed;
        border: 2px solid #333;
        
    }
}

.subMenu{
    nav{
        ul{
            li{
                text-align: center;
                a{
                    display: block;
                    background: @gray_highlight;
                    border: 1px solid @mainBgc_highdark;
                    color: @mainBgc_highdark;
                    height: 30px;
                    line-height: 30px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.subMenuAnnotation{
    margin: 5px 0 10px;
    color:@gray_highdark;
}
.pf_CateTitle{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid @mainBgc_highdark;
    color:@mainBgc_highdark;
    h3{
        font-weight: bold;
        font-size: 2.5rem;
    }
}
.pf_CateDesc{
    color:@mainBgc_highdark;
    h4{
        font-size: 1.8rem;
        padding: 5px 0;
        line-height: normal;
    }
}
.pf_Card{
    border: 1px solid @gray_highdark;
    margin-bottom: 20px;
        .pf_image{
        width: 100%;
        height:220px;
        overflow: hidden;
        text-align: center;
        position: relative;
        border-bottom: 1px solid @gray_highdark;
        img{
            position: absolute;
            left: -30px;
            top:0;
        }
    }
    .pf_detailArea{
        background: @gray_highlight;
        .pf_name{
            padding: 5px;
            .pf_nameLabel{
                float: none;
            }
            .pf_nameText{
                
            }
        }
        .pf_country{
            position: relative;
            padding: 5px;
            .pf_cantryIcon{
	            display: inline-block;
	            vertical-align:middle;
                a{
                    //margin-left: 30px;
                    width: 30px;
                    .pf_countryName{
                        visibility: hidden;
                        opacity: 0;
                        padding: 5px 10px;
                        .shadowDepthY(3px, 10px, 0px, 0.5);
                        font-size: 1.2rem;
                        font-weight: bold;
                        color:#fff;
                        background: @keyClr_orange;
                        .boxRadius(5px);
                        top:2px;
                        left: 110px;
                        position: absolute;
                        .animate(0.3s);
                        &:before{
                            position: absolute;
                            content: "";
                            display: block;
                            top: 5px;
                            left: -10px;
                            width: 0;
                            height: 0;
                            border-right: 10px solid @keyClr_orange;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                        }
                    }
                    &:hover .pf_countryName{
                        visibility: visible;
                        opacity: 1;
                        left:100px;
                        .animate(0.3s);
                    }
                }
            }
            
        }
        .pf_type{
            padding: 5px;
            .pf_typeText{
                a{
                    
                }
            }
        }
    }
}
.pf_Label{
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
	vertical-align:middle;
}
.pf_icon_thailand{
    width: 30px;
    height: 20px;
    background: url(../img/icon/THAILAND_ICON_30x20.png);
    background-size:cover;
}
.pf_contactMsg{
    padding: 5px 25px;
    //height: 45px;
    margin-bottom: 10px;
}
.pf_MenuBox {
    display: flex;
    display: -webkit-flex;
    -webkit-align-item: baseline;
    align-items: baseline;
    margin-bottom: 0px;
    >.contentTitle {
        height: 70px;
        padding: 20px 0 10px;
        h1 {
            margin: 0;
        }
    }
    >.contentSubject{
        margin: 0 0 0 20px;
    }
}

/* Global Location */

.imageHoldBox{
    position: relative;
    .corpNameBox{
        position: absolute;
        background:rgba(255,255,255,0.8);
        bottom:0;
        width: 100%;
        height: 65px;
    }
}
.glc_corpNameBox {
    display: flex;
    display: -webkit-flex;
    -webkit-align-item: baseline;
    align-items: baseline;
    margin-bottom: 0px;
    .contentTitle{
        height: 70px;
        padding: 20px 0 10px;
        h1 {
            margin: 0;
        }
    }
    .contentSubject{
        margin: 0 0 0 20px;
    }
    .corpName{
        height: 70px;
        padding: 20px 0 10px;
        h1 {
            margin: 0;
        }
    }
    .corpName{
        height: 70px;
        padding: 20px 0 10px;
        h1 {
            margin: 0;
        }
    }
    .corpSubName{
        margin: 0 0 0 20px;
    }
    .corpContry{
        margin-left: auto;
        .corpCountryFlag{
            float: left;
            padding-top: 3px;
        }
        .corpCountryName{
            float: left;
            .contryName_ja{
                padding: 0 0 3px 5px;
                font-size: 0.8rem;
            }
            .contryName_en{
                padding-left: 5px;
                font-weight: bold;
            }
        }
    }
}
.corpInfoTable{
    padding: 0 25px 20px;
}

.glc_draft {
    padding: 0 15px;
    text-align: justify;
    p {
        line-height: 2rem;
        margin-bottom: 1rem;
    }
}

.corpFacilityImage{
    width: 100%;
    height:140px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    //position: relative;
    img{
        //position: absolute;
        left: -30px;
        top:0;
    }
}
.dc_map{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    //height: 0;
    overflow: hidden;
    iframe,object,embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
    }
}

/* Location corp */
.lc_Card{
    border: 1px solid @gray_highdark;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    .lc_image{
        width: 100%;
        height:180px;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid @gray_highdark;
        img{
        }
    }
    .lc_detailArea{
        background: rgba(238,238,238,0.7);
        position: absolute;
        width: 100%;
        //height: 60px;
        bottom: 0;
        left: 0;
        display: table;
        vertical-align: middle;
        padding: 10px 5px 5px;
        .lc_areaInfo{
            font-weight: bold;
            text-align: center;
            padding-bottom: 5px;
        }
        .lc_prod{
            p{
                margin-bottom: 5px;
                font-size: 1.2rem;
            }
        }
        .lc_facility{
            p{
                margin-bottom: 5px;
                font-size: 1.2rem;
            }
        }
    }
}
.lc_Label{
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
}

/* Global Network */
.gn_linkBox{
    width: 100%;
    height: 110px;
    background: @gray_highlight;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 20px;
    .gn_linkImage{
        flex: 1;
        width: 100%;
        height: 110px;
        background:@gray_dark;
        overflow: hidden;
        img{
            //width: 100px;
            //height: 100px;
        }
    }
    .gn_detail{
        padding:5px 10px;
        flex: 3;
        .gn_corpAbb{
            font-size: 2.5rem;
            font-weight: bold;
        }
        .gn_corpName{
            font-size: 1.2rem;
            font-weight: bold;
            
        }
        .gn_detail_underArea{
            margin-top: 5px;
            .gn_contactArea{
                float: left;
                width: 50%;
            }
            .gn_corpTel{
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            .gn_corpFax{
                font-size: 1.2rem;
            }
            .gn_corpBtn{
                float:right;
            }
        }
    }
}
.gn_Button {
    position: relative;
    //margin: 0px auto 5px;
    .pxbox(30px, 80px);
    .lineGradient(#0095D1, #0077A7);
    .boxRadius(10px);
    top: 0;

    box-shadow: 0px 5px 0 0 @mainBgc_rowdark;
    -webkit-box-shadow: 0px 5px 0 0 @mainBgc_rowdark;
    &:hover {
        .lineGradient(#66BFE3, #33AADA);

        box-shadow: 0px 5px 0 0 @mainBgc_highdark;
        -webkit-box-shadow: 0px 5px 0 0 @mainBgc_highdark;
    }
    &:active {
        top: 5px;
        .lineGradientRe(#0095D1, #0077A7);
        &:before {
            top: 0;
        }
    }
    a {
        display: block;
        .pxbox(30px, 80px);
        text-align: center;
        color: #fff;
        line-height: 30px;
        text-decoration: none;
    }
}

/* information Page */
.infoMenuTitle{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    background: @gray_highdark;
    color:#fff;
    padding-left: 20px;
    font-size: 1.8rem;
}
.archiveYear{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.archiveList{
    ul{
        li{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 1.8rem;
            background: @gray_light;
            border-bottom: 1px solid @gray_highdark;
            
            a{
                padding-left: 20px;
                display: block;
                //text-decoration: none;
                color:@gray_dark;
                .animate(0.3s);
                i{
                    color:@gray_dark;
                    margin-right: 20px;
                    .animate(0.3s);
                }
                &:hover{
                    background: @gray_highdark;
                    color:@gray_highlight;
                    .animate(0.3s);
                    i{
                        color:@gray_highlight;
                        margin-right: 10px;
                        .animate(0.3s);
                    }
                }
            }
            
        }
        .sideMenu_active{
            padding-left: 20px;
            background: @mainBgc_dark;
            color: #fff;
        }
    }
}
.infoPageTitle{
    padding: 0;
    margin-bottom: 15px;
    color: @mainBgc_dark;
    font-weight: bold;
}

/* postPage */
.postPageTitle{
    font-size: 2.5rem;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid @gray_light;
}
.postInfo{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    display: flex;
    div{
        margin-right: 10px;
    }
}
.postMain{
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    p{
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
    }
}
/* Global Location Page */
.gl_headerBlock{
    //padding-bottom: 5px;
    border-bottom: 1px solid @gray_highdark;
    margin-bottom:10px;
}
.gl_listHeader{
    margin: 10px auto;
    width: 160px;
    img{
        float:left;
        margin-right: 10px;
    }
    h3{
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding: 3px;
    }
}
.gl_detailArea{
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 2px;
}
.gl_image{
    overflow: hidden;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}
.gl_contryflag{
    float:left;
    margin-right:10px;
    margin-bottom: 20px;
}
.gl_contryName{
	.gl_contryName_en{
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
	.gl_contryName_ja{
		
	}
}

/* Company Info page */
.ci_list{
	ul{
		li{
			font-size: 1.4rem;
		}
	}
}
/* Greeting */
.greetingTitle{
	font-weight: bold;
	color:@mainBgc_dark;
	p{
		margin-bottom: 1.8rem;
	}
}
.predidentImageArea{
	float: right;
	background: @gray_highlight;
	box-sizing: border-box;
	border: 1px solid @gray_highdark;
	margin: 0 20px;
	.predidentNameArea{
		padding: 5px 20px;
		p{
			margin: 0;
		}
		.mngPosition{
			font-size: 1.2rem;
			text-align: center;
		}
		.predidentName{
			font-size: 1.6rem;
			text-align: center;
			font-weight: bolder;
		}
	}
}
.predidentSign{
	text-align: right;
	margin-bottom: 50px;
	p{
		line-height: 2rem;
	}
	.predidentName{
		margin-top: 10px;
		font-size: 1.8rem;
		font-weight: bold;
	}
}
/* これから　*/
.viewTitle{
	font-weight: bold;
	color:@keyClr_orange;
	margin: 30px 0 15px;
	p{
		margin-bottom: 1.8rem;
	}
}

/* 理念 */
.ideaArea{
	font-size: 3.1rem;
	margin-bottom: 20px;
	p{
		text-align: center;
		line-height: 6.2rem;
		font-weight: bold;
	}
}
.hisroryArea{
	ul{
		li{
			padding: 8px 0;
			border-bottom: 1px solid @gray_light;
			span{
				margin-right: 20px;
			}
		}
	}
}

/* 環境方針 */

.ecoTextArea{
    padding: 0 5px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    p{
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
    }
}
.ecoList{
	li{
		margin-bottom: 20px;
		padding-left: 20px;
		position: relative;
		&:before {
			display: block;
			content: "\f0c8";
			font-family: "FontAwesome";
			width: 1rem;
			height: 1rem;
			color:green;
			position: absolute;
			left: -5px;
			top: 0;
		}
	}
}

/* 会社概要　役員　アクセス */
.listStyleON{
	padding-left: 20px;
	li{
		list-style:disc;
	}
}
.offierList{
	margin-top: 10px;
	table , td, th {
		border: 1px solid #595959;
		border-collapse: collapse;
	}
	th{
		background: #99D4EC;
		text-align: center;
		font-weight: bold;
		
	}
	td, th {
		padding: 3px;
		width: 180px;
		height: 25px;
	}
	.ranks{
		background: @gray_highlight;
	}
}
.offierListTable{
	p{
		padding: 5px 0;
		font-size: 1.2rem;
	}
}
.mapillust_image{
    margin: 20px 0;
    img {
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 0;
        display: block;
        .animate(0.3s);
        .shadowDepthY(3px, 10px, 0px, 0.4);
        &:hover {
            top: -4px;
            .animate(0.3s);
            .shadowDepthY(7px, 14px, 0px, 0.4);
        }
    }
}

.access_map{
	margin-top: 20px;
    position: relative;
    padding-bottom: 72%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe,object,embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:  100%;
    }
}
.table2colomun_access{
	width: 100%;
	th{
		width:10%;
		vertical-align: top;
		font-weight: bold;
		padding: 10px;
	}
	td{
		padding: 10px;
	}
}

/* 会社案内 */
.companyInfo_Card2x{
	height: 240px;
	margin: 10px 0;
    display: block;
}
.companyInfo_Card1x{
	height: 110px;
	margin: 10px 0;
    display: block;
}
.companyInfo_Card_title{
	background: @mainBgc_dark;
	color: #fff;
	padding: 10px;
	height: 40px;
}
.companyInfo_Card_detail2x{
	background: @gray_highlight;
	padding: 15px;
	height: 200px;
	text-align: justify;
	img{
		border: 1px solid @gray_highdark;
		box-sizing: border-box;
		float: left;
		margin-right: 20px;
	}
}

.companyInfo_Card_detail1x{
	background: @gray_highlight;
	padding: 10px;
	height: 70px;
}
.ciCard_link{
    width: 100%;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 0;
    display: block;
    .animate(0.3s);
    .shadowDepthY(3px, 10px, 0px, 0.4);
    &:hover {
        top: -4px;
        .animate(0.3s);
        .shadowDepthY(7px, 14px, 0px, 0.4);
    }
}
.ci_linkArea{
	a{
		color:#000;
	}
}

/* recruite */
.recruite_Card{
	padding: 15px;
	height: 200px;
	text-align: center;
	img{
		background: #fff;
		padding: 10px;
		margin: 5px auto;
	}
}
.rec_Card_link{
	width: 240px;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 0;
    display: block;
    .animate(0.3s);
    .shadowDepthY(3px, 10px, 0px, 0.4);
    &:hover {
        top: -4px;
        .animate(0.3s);
        .shadowDepthY(7px, 14px, 0px, 0.4);
    }
}

/*  */
.mm_menuAnno{
	color:@gray_dark;
}
.fmTable_Area{
	table{
		border-collapse:separate;
	}
	tr{
		&:hover:not(:nth-child(2)):not(:first-child){
			background: #f5f09f;
		}
		td {
			//border: 1px solid @gray_dark;
			box-sizing: border-box;
			text-align: center;
			.animate(0.3s);
			&:hover:not(:first-child){
				font-size: 3rem;
				.animate(0.3s);
				color:#b60c0c;
			}
		}
		&:first-child{
			td{
				&:hover{
					font-size: 1.4rem;
					color:#000;
				}
			}
		}
		&:nth-child(2){
			td{
				&:hover{
					font-size: 1.2rem;
					color:#000;
				}
			}
		}
	}
	.tdhoverCancel{
		&:hover{
			font-size:1.2rem !important;
		}
	}
	.even {
		background: @gray_highlight;
	}
	.odd {
		background: #fff;
	}
}
td{
	&:active{
		color:red;
	}
}
.toolChip{
	
}
.makeCate{
	width: 40px;
	background: @mainBgc_dark;
	vertical-align: middle;
	padding: 0 12px;
	p{
	    //-webkit-writing-mode: vertical-lr;
	    //writing-mode: vertical-lr;
		font-weight: bold;
		color: #fff;
	}
}
.bottomWhite{
	border-bottom: 1px solid #fff !important;
}
.topLineHidden{
	border-top-style: hidden;
}
.corner{
	background-color: #fff;
	border-left-style: hidden;
	border-top-style: hidden;
}
.functionTitle{
	width: 160px;
	height: 50px;
	vertical-align: middle;
	padding: 5px;
	font-size: 1.2rem;
}
.cornerRad-tl{
	border-top-left-radius: 10px;
}
.cornerRad-bl{
	border-bottom-left-radius: 10px;
}
.cornerRad-tr{
	border-top-right-radius: 10px;
}
.cornerRad-br{
	border-bottom-right-radius: 10px;
}
.ctiyName{
	td{
		width: 95px;
		font-size: 1.2rem;
		text-align: center;
		padding: 5px;
	}
}
.trUnderDot{
	td{
		border-bottom: 1px dashed @gray_highdark;
	}
}
.trUnderSolid{
	td{
		border-bottom: 1px solid @gray_highdark;
	}
}

.trTopSolid{
	td{
		border-top: 1px solid @gray_highdark;
	}
}
.underSolid{
	border-bottom: 1px solid @gray_highdark !important;
}
.topSolid{
	border-top: 1px solid @gray_dark;
}
.leftDot{
	border-left: 1px dashed @gray_highdark;
}
.leftSolid{
	border-left: 1px solid @gray_highdark;
}
.rightSolid{
	border-right: 1px solid @gray_highdark;	
}
.trRightBorderFC{
	td{
		&:nth-child(3),&:nth-child(4),&:nth-child(8),&:nth-child(10),&:nth-child(11),&:nth-child(12){
			border-left: 1px solid @gray_highdark;	
		}
		&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(9){
			border-left: 1px dashed @gray_highdark;	
		}
		&:last-child{
			border-right: 1px solid @gray_highdark;
		}
	}
}
.trRightBorder{
	td{
		&:nth-child(2),&:nth-child(3),&:nth-child(7),&:nth-child(9),&:nth-child(10),&:nth-child(11){
			border-left: 1px solid @gray_highdark;
		}
		&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(8){
			border-left: 1px dashed @gray_highdark;	
		}
		&:last-child{
			border-right: 1px solid @gray_highdark;
		}
	}
}

.trRightBorderCN{
	td{
		&:nth-child(1),&:nth-child(2),&:nth-child(6),&:nth-child(8),&:nth-child(9),&:nth-child(10){
			border-left: 1px solid @gray_highdark;	
		}
		&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(7){
			border-left: 1px dashed @gray_highdark;	
		}
		&:last-child{
			border-right: 1px solid @gray_highdark;
		}
	}
}
.mm_contryName{
	text-align: center;
	height: 40px;
}

/* test */

.testPost {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-content: stretch;
    /* Safari */
    align-content: stretch;
    width: 100%;
    flex-wrap: wrap;
    margin: 5px 0;
    .testinfoDate {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        max-width: 90px !important;
    }
    .testinfoCate {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        max-width: 70px !important;
        background-color: aquamarine;
    }
    .testinfoSubject {
        text-align: justify;
        -webkit-flex-grow: 2;
        flex-grow: 2;
    }
}
.clear {
    clear: both;
}
.tategakiTest{
    -ms-writing-mode: tb-rl; /* for MS IE8+ */
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
	
}
.testBox {
    background: @red;
    .pxbox(40px, 100%);
    margin: 10px 0px 0px 0px;
    color: #fff;
}
.testBox {
    background: @red;
    .pxbox(40px, 100%);
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    line-height: 18px;
    a {
        display: block;
        background: blue;
        .pxbox(40px, 100%);
    }
}