/* 基本色 */
/* 簡易リセット */
.reset {
  margin: 0px;
  padding: 0px;
}
/* font */
/* 縦横　*/
p {
  line-height: 1.5rem;
}
body,
header,
footer,
wrapper,
a,
p,
ul,
li,
table,
tbody,
th,
tr,
td,
div,
spam {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body {
  font-family: -apple-system, 'AvenirNext', '游ゴシック体', 'Yu-Gothic', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
}
body #foo {
  background-size: 320px 480px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
  body #foo {
    background-image: url('bg_x2.png');
  }
}
@media screen and (-webkit-device-pixel-ratio: 1) {
  body #foo {
    background-image: url('bg.png');
  }
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
.upperMenulist {
  list-style-type: none;
  padding: 0;
  float: left;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  width: 240px;
  background: #003B53;
}
.upperMenulist li {
  text-align: center;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.upperMenulist li a {
  height: 40px;
  width: 80px;
  display: block;
  margin: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #EEEEEE;
  font-size: 1.2rem;
  text-decoration: none;
}
.upperMenulist li ul {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.upperMenulist li ul li {
  width: 300%;
  height: 0;
  color: #EEEEEE;
}
.upperMenulist li ul li a {
  visibility: hidden;
  opacity: 0;
  padding: 0 15px;
  background: #00597D;
  text-align: left;
  font-size: 12px;
}
.upperMenulist li:hover {
  background: #EEEEEE;
}
.upperMenulist li:hover ul {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.upperMenulist li:hover ul li {
  height: 38px;
  border-top: 1px solid #003B53;
  border-bottom: 1px solid #003B53;
}
.upperMenulist li:hover ul li a {
  width: 300%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.upperMenulist li:last-child ul {
  left: -100%;
  width: 200%;
}
.upperMenulist li:hover > a {
  background: #EEEEEE;
  color: #003B53;
}
#header {
  z-index: 1000;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header h1 {
  font-size: 4rem;
  font-family: 'Times New Roman', '游明朝', Yu-mincho, 'Hiragino Mincho ProN', sans-serif;
  color: #000000;
}
header {
  z-index: 1000;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header h1 {
  font-size: 4rem;
  font-family: 'Times New Roman', '游明朝', Yu-mincho, 'Hiragino Mincho ProN', sans-serif;
  color: #000000;
}
.upperMenuBack {
  background: #003B53;
  height: 40px;
  width: 100%;
}
.upperMenuBox {
  color: #EEEEEE;
  float: right;
  height: 40px;
  width: 620px;
  line-height: 40px;
}
.menu_slectLang {
  float: left;
  height: 40px;
  width: 190px;
  font-size: 1rem;
  font-weight: bold;
}
.selectTxt {
  height: 40px;
  width: 110px;
  float: left;
  text-align: center;
}
.menuflags {
  margin: 0 auto;
  height: 40px;
  width: 80px;
  float: right;
}
.miniFlag {
  float: left;
}
.miniFlag img {
  height: 20px;
  width: 30px;
  margin: 10px 2px;
}
.menu_contact {
  position: relative;
  float: left;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  background: #FF6A2E;
  height: 100%;
  width: 190px;
  text-align: center;
}
.menu_contact:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #003B53;
}
.menu_contact a {
  color: #fff;
  height: 100%;
  width: 190px;
  display: block;
}
.bottomMenuBox {
  height: 60px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  background: #003B53;
  opacity: 0.9;
}
.bottomMenuBox .bottomMenu {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  height: 60px;
  width: 620px;
}
.bottomMenuBox_underpage {
  height: 60px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  background: #0077A7;
  opacity: 0.9;
}
.bottomMenuBox_underpage .bottomMenu {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  height: 60px;
  width: 620px;
}
.bottomMenuBox_underpage .bottomMenu:after {
  clear: both;
}
.bottomMenulist {
  height: 60px;
  width: 620px;
  line-height: 60px;
  display: flex;
}
.bottomMenulist li {
  flex-grow: 1;
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.bottomMenulist li a {
  color: #EEEEEE;
  padding: 0 10px;
  height: 60px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
}
.bottomMenulist li a:hover {
  background: #EEEEEE;
  color: #003B53;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bottomMenulist li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.bottomMenulist li ul li {
  width: 120%;
  line-height: 40px;
  text-align: left;
}
.bottomMenulist li ul li a {
  visibility: hidden;
  opacity: 0;
  height: 38px;
  border-top: 1px solid #003B53;
  border-bottom: 1px solid #003B53;
  font-size: 1.4rem;
  font-weight: bold;
  background: #00597D;
}
.bottomMenulist li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bottomMenulist li:hover ul li a {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bottomMenulist li:last-child ul {
  left: -90%;
  width: 200%;
}
.bottomMenulist li:hover > a {
  background: #EEEEEE;
  color: #003B53;
}
.heroHeader-navArea {
  position: relative;
  top: 400px;
  opacity: 0.5;
  background: #000;
  height: 200px;
  width: 100%;
}
.imageHolder {
  z-index: -1;
}
.logobox {
  float: left;
}
.logobox img {
  margin-left: 44px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.logobox a {
  display: block;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
/* wrapper function */
.secUnderBarNone {
  border-bottom-style: hidden;
}
.bottomUnderBar {
  border-bottom: 1px solid #9B9B9B;
}
.bd_fixed {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 100%;
  padding: 5px 25px 0;
  height: 35px;
}
.bd_fixed + section {
  margin-top: 35px;
}
.pf_fixed {
  position: fixed;
  top: 135px;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 100%;
  padding: 5px 25px 0;
  height: 90px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pf_fixed + section {
  margin-top: 100px;
}
.underBarNon {
  border-bottom-style: none;
}
.textCentering {
  text-align: center;
}
/* Font */
h1 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  margin: 20px 0 10px;
}
h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 10px 0;
}
h3 {
  font-size: 2.0rem;
  line-height: 2.0rem;
  margin: 0;
}
h4 {
  font-size: 1.8rem;
  line-height: 50px;
  margin: 0;
}
.fMincho {
  font-family: "Times New Roman", YuMin-Medium, "游明朝体";
}
/* wrapper */
section {
  margin: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
#emg {
  border-bottom: 1px solid #4A4A4A;
}
.emergency {
  text-align: center;
  color: #B11C00;
  font-weight: 900;
  line-height: 1rem;
  margin: 4px auto 10px;
}
.buttonBlock {
  display: block;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.buttonBlock:hover {
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  top: -4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.buttonBlock200 {
  height: 200px;
  width: 100%;
  margin: 10px 0 20px;
}
.buttonBlock120 {
  height: 120px;
  width: 100%;
  margin: 10px 0 20px;
}
.textboxArea200 {
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}
.textboxArea200:hover + .imageArea img {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
.textboxArea120 {
  height: 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 1;
}
.textboxArea120:hover + .imageArea img {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
.imageArea {
  overflow: hidden;
  width: 100%;
}
.imageArea:hover {
  overflow: hidden;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.imageArea img {
  height: auto;
  width: 125%;
  min-width: 100%;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.imageArea img:hover {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
.imageArea200 {
  height: 200px;
}
.imageArea120 {
  height: 120px;
}
.imagTextLinkBox {
  padding: 10px;
  box-sizing: border-box;
  background: #EEEEEE;
  color: #fff;
  height: 124px;
  display: block;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 10px 0 20px;
}
.imagTextLinkBox:hover {
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  top: -4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.imagTextLinkInfo {
  display: inline-flex;
  display: -webkit-inline-flex;
  height: 100px;
}
.imagTextLinkInfo .Image {
  height: 100px;
  width: 100px;
}
.imagTextLinkInfo .Text {
  width: 100%;
  min-width: 180px;
}
.imagTextLinkInfo .Title {
  padding: 0 0 5px 10px;
  text-align: justify;
  word-break: break-strict;
  font-weight: bold;
}
.imagTextLinkInfo .Subject {
  padding: 0 0 0 10px;
  font-size: 1.2rem;
  word-break: break-strict;
  color: #4A4A4A;
}
.table2colomun table {
  border: 1px solid #9B9B9B;
  border-collapse: collapse;
}
.table2colomun th,
.table2colomun td {
  padding: 10px;
  border: 1px solid #9B9B9B;
}
.table2colomun th {
  width: 15%;
  background: #EEEEEE;
}
/* section css */
.container {
  margin-bottom: 10px;
}
.topSectionTitle {
  border-bottom: 2px solid #FF6A2E;
  margin: 0px 0px 10px 0px;
}
.topSectionSubTitle {
  margin: 20px 0px 5px 0px;
  color: #00597D;
}
.topArticle {
  padding: 0 10px;
  margin: 5px 0;
}
.titleBoxParent {
  /*position: relative;
	width: 100%;
	height: 120px;*/
  /* */
  height: 120px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.titleBox {
  /*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin: auto;*/
  width: 300px;
  height: 70px;
  text-align: center;
  border-bottom: 2px solid #FF6A2E;
}
.titleBox_info {
  width: 160px;
}
.margibottom20 {
  margin-bottom: 40px;
}
/* button Link */
.buttonTitle {
  font-size: 1.4rem;
  text-align: center;
  color: #4A4A4A;
  line-height: 30px;
}
.bTitle {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 5px 0 2px;
  color: #00597D;
}
.textCenter {
  text-align: center;
}
.textJust {
  text-align: justify;
  text-justify: inter-ideograph;
}
.buttonArticle {
  font-size: 1.4rem;
  box-sizing: border-box;
  padding: 0 15px 5px;
  color: #4A4A4A;
}
.topSectionButton {
  position: relative;
  margin: 20px auto;
  height: 50px;
  width: 350px;
  background-image: linear-gradient(top, #0095D1 0%, #0077A7 100%);
  background-image: -moz-linear-gradient(top, #0095D1 0%, #0077A7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0095D1), to(#0077A7));
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  top: 0;
}
.topSectionButton:before {
  content: "";
  display: block;
  height: 50px;
  width: 350px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #003B53;
}
.topSectionButton:hover {
  background-image: linear-gradient(top, #66BFE3 0%, #33AADA 100%);
  background-image: -moz-linear-gradient(top, #66BFE3 0%, #33AADA 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66BFE3), to(#33AADA));
}
.topSectionButton:hover:before {
  background: #0077A7;
}
.topSectionButton:active {
  top: 5px;
  background-image: linear-gradient(top, #0077A7 0%, #0095D1 100%);
  background-image: -moz-linear-gradient(top, #0077A7 0%, #0095D1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077A7), to(#0095D1));
}
.topSectionButton:active:before {
  top: 0;
}
.topSectionButton a {
  display: block;
  height: 50px;
  width: 350px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.orangeButton {
  position: relative;
  margin: 0px auto;
  height: 50px;
  width: 150px;
  background-image: linear-gradient(top, #FF6A2E 0%, #CC5424 100%);
  background-image: -moz-linear-gradient(top, #FF6A2E 0%, #CC5424 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6A2E), to(#CC5424));
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  top: 0;
}
.orangeButton:before {
  content: "";
  display: block;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #6A1000;
}
.orangeButton:hover {
  background-image: linear-gradient(top, #FFA581 0%, #FF8757 100%);
  background-image: -moz-linear-gradient(top, #FFA581 0%, #FF8757 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA581), to(#FF8757));
}
.orangeButton:hover:before {
  background: #6A1000;
}
.orangeButton:active {
  top: 5px;
  background-image: linear-gradient(top, #FF6A2E 0%, #CC5424 100%);
  background-image: -moz-linear-gradient(top, #FF6A2E 0%, #CC5424 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6A2E), to(#CC5424));
}
.orangeButton:active:before {
  top: 0;
}
.orangeButton a {
  display: block;
  height: 50px;
  width: 150px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
/* top Product Facility Label */
.imageLabelBlock {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  margin: 10px 0;
}
.imgLabel120 {
  height: 120px;
  width: 100%;
}
.labeltextboxArea {
  background: #eeeeee;
}
.labelTitle {
  padding: 5px;
  text-align: center;
}
/* top 国内外拠点 */
.topGlobalLocationButton {
  position: relative;
  height: 40px;
  width: 100%;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  margin: 10px 0 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}
.topGlobalLocationButton a {
  display: block;
  height: 40px;
  width: 100%;
  text-decoration: none;
}
.topGlobalLocationButton:hover {
  top: -3px;
  box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.DCNameText {
  font-size: 1.6rem;
  line-height: 30px;
  padding: 5px 10px;
  color: #4A4A4A;
  font-weight: bold;
}
.DCNup {
  margin-top: -10px;
}
.DCGName {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 4px 10px 4px 5px;
  color: #4A4A4A;
  font-weight: bold;
  float: left;
}
.DCGName:before {
  content: "";
  clear: both;
}
.DCGOverView {
  float: right;
  font-weight: normal;
  padding: 4px 5px 4px 0;
}
.DCGContryText {
  float: left;
  padding: 0 5px;
  color: #4A4A4A;
  text-align: right;
}
.DCGContryEng {
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.DCGContryJp {
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.DCGContryFlag {
  float: right;
  height: 30px;
  width: 45px;
}
/* information Posts */
.infoPost {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  margin: 5px 0;
  width: 100%;
}
.infoPost .infoDate {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 90px !important;
  margin-bottom: 5px;
}
.infoPost .infoCate {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 70px !important;
  margin-bottom: 5px;
  margin-right: 10px;
}
.infoPost .infoSubject {
  overflow: hidden;
  max-width: 650px;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: justify;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.infoPost .underpageInfo {
  max-width: 600px;
}
.infoPost .infoPage {
  max-width: 560px;
}
#information {
  margin-bottom: 20px;
}
.cate-type {
  font-size: 0.8rem;
  font-weight: bold;
  width: 60px;
  height: 2.0rem;
  margin: 0 auto;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
  text-align: center;
}
.infoTag {
  color: #fff;
  background: #FF6A2E;
  line-height: 1.2rem;
}
.newTag {
  box-sizing: border-box;
  border: 2px solid #B11C00;
  background: #eee;
  line-height: 1.0rem;
}
.emgTag {
  color: #fff;
  background: #B11C00;
  line-height: 1.2rem;
}
/* contact */
.topContact {
  text-align: center;
}
.titleCenter {
  margin: 10px auto;
  width: 240px;
}
.topContactBox {
  border: 2px solid #FF6A2E;
}
.contactInfo .contactTitle {
  color: #FF6A2E;
}
/* under contents */
.breadcrumbList {
  display: inline-flex;
  display: -webkit-inline-flex;
  font-size: 1.2rem;
}
.breadcrumbList > li {
  margin: 0px 5px;
}
.breadcrumbList > li:after {
  margin-left: 5px;
  content: "＞";
}
.breadcrumbList > li:last-child:after {
  content: "";
}
.contentBlock_title {
  padding: 15px 10px;
  background: #0077A7;
  color: #EEEEEE;
}
.orangeTitle {
  padding: 15px 10px;
  background-color: transparent;
  border-bottom: 2px solid #FF6A2E;
  color: #FF6A2E;
}
.contentBlock_detail {
  padding: 0 40px;
  margin: 10px 0;
}
.contentBlock_detail article {
  padding: 0 10px;
  margin: 15px 0;
  font-size: 1.4rem;
}
.contentBlock_detail article p {
  line-height: 2.1rem;
  margin-bottom: 1.4rem;
  text-align: justify;
}
.contentBlock_detail .second_st {
  width: 80%;
  margin: 0 auto;
}
.contentBlock_detail .col6Image {
  padding: 0 10px;
  margin: 10px 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.contentBlock_detail .col6Image img {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.contentBlock_subTitle {
  padding: 10px 0;
  color: #33AADA;
  text-align: center;
  border-bottom: 2px solid #33AADA;
}
.contentBlock_subTitle h3 {
  font-weight: bold;
}
.content-btn-text {
  height: 45px;
  width: 320px;
}
.content-btn-text a {
  text-align: center;
  height: 45px;
  width: 320px;
}
.content-btn-text h4 {
  font-size: 1.4rem;
}
.content-btn-text:before {
  height: 45px;
  width: 320px;
}
/* recommend */
.recommendLinkBox {
  border: 2px solid #9B9B9B;
}
.recommendLinkInfo .recommendLinkTitle {
  color: #0077A7;
}
.recommendTitle {
  color: #9B9B9B;
}
/* manufactuering */
.manufactueringMenuBack {
  background: #EEEEEE;
}
.manufactueringMenuBox {
  margin-bottom: 0px;
}
.manufactueringMenuBox > .contentTitle {
  float: left;
  height: 70px;
  padding: 20px 0 10px;
}
.manufactueringMenuBox > .contentTitle h1 {
  margin: 0;
}
.manufactueringMenuBox > .contentMenuBox {
  float: right;
}
.manufactueringMenuBox > .contentMenuBox ul {
  height: 70px;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.manufactueringMenuBox > .contentMenuBox ul > li {
  border-left: 1px solid #fff;
  text-align: center;
  font-size: 1.8rem;
  display: table;
}
.manufactueringMenuBox > .contentMenuBox ul > li a {
  display: table-cell;
  color: #9B9B9B;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  padding: 0 20px;
  height: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.manufactueringMenuBox > .contentMenuBox ul > li a:hover {
  background: #0077A7;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.manufactueringMenuBox > .contentMenuBox ul > li .m_selected {
  display: table-cell;
  background: #00597D;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  padding: 0 20px;
  height: 70px;
}
.manufactueringMenuBox > .contentMenuBox ul > li:last-child {
  border-right: 1px solid #fff;
}
.m_draft p {
  line-height: 3.5rem;
}
/* 一貫同期生産 */
.cs_draft {
  padding: 0 15px;
  text-align: justify;
}
.cs_draft p {
  line-height: 3.5rem;
}
.orangeColor {
  color: #FF6A2E;
  text-align: left;
}
.orangeColor h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.orangeColor p {
  margin-bottom: 1.5rem;
  line-height: 3.5rem;
}
.orangeColor article p {
  line-height: 2.1rem;
  margin-bottom: 2.1rem;
}
.cs_image {
  margin: 20px 0;
}
.cs_image img {
  width: 75vw;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.cs_image img:hover {
  top: -4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
}
.cs_prodTitle {
  color: #00597D;
  text-align: left;
  border-bottom: 2px solid #00597D;
}
.cs_prodImageBox {
  height: 110%;
  width: 100%;
  margin: 10px 0 20px;
}
.cs_prodImageBox .cs_prodImage {
  padding: 0 10px;
  width: 100%;
}
.cs_prodImageBox .cs_prodImage img {
  width: 100%;
  height: auto;
}
/* Global Network */
.gn_title {
  border-bottom-style: none;
}
.gn_articleBlock {
  padding: 0 0 0 30px;
}
.gn_articleBlock .gn_articleTitle {
  font-weight: bold;
  font-size: 1.8rem;
  color: #00597D;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}
/* image popup*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* philosophy */
.phi_imagebox {
  height: 55px;
  width: auto;
  padding: 10px;
  color: #fff;
  background-position: center center;
}
.phi_imagebox .phi_name_en {
  float: left;
  font-size: 2.5rem;
  font-weight: 900;
}
.phi_imagebox .phi_name_jp {
  float: right;
  font-size: 2.5rem;
}
.phi_articleBox {
  background: #EEEEEE;
  min-height: 205px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.phi_articleBox article {
  font-size: 1.4rem;
}
.phi_articleBox article p {
  line-height: 2.1rem;
  margin-bottom: 1.4rem;
  text-align: justify;
}
.phi_eco {
  background-image: url(../img/imgs/phi_eco.png);
}
.phi_qua {
  background-image: url(../img/imgs/phi_qua.png);
}
.phi_cost {
  background-image: url(../img/imgs/phi_cost.png);
}
.phi_deli {
  background-image: url(../img/imgs/phi_deli.png);
}
/* product faciliti info */
.subNub div {
  background: #eed;
  border: 2px solid #333;
}
.subMenu nav ul li {
  text-align: center;
}
.subMenu nav ul li a {
  display: block;
  background: #EEEEEE;
  border: 1px solid #0077A7;
  color: #0077A7;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subMenuAnnotation {
  margin: 5px 0 10px;
  color: #9B9B9B;
}
.pf_CateTitle {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0077A7;
  color: #0077A7;
}
.pf_CateTitle h3 {
  font-weight: bold;
  font-size: 2.5rem;
}
.pf_CateDesc {
  color: #0077A7;
}
.pf_CateDesc h4 {
  font-size: 1.8rem;
  padding: 5px 0;
  line-height: normal;
}
.pf_Card {
  border: 1px solid #9B9B9B;
  margin-bottom: 20px;
}
.pf_Card .pf_image {
  width: 100%;
  height: 220px;
  overflow: hidden;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #9B9B9B;
}
.pf_Card .pf_image img {
  position: absolute;
  left: -30px;
  top: 0;
}
.pf_Card .pf_detailArea {
  background: #EEEEEE;
}
.pf_Card .pf_detailArea .pf_name {
  padding: 5px;
}
.pf_Card .pf_detailArea .pf_name .pf_nameLabel {
  float: none;
}
.pf_Card .pf_detailArea .pf_country {
  position: relative;
  padding: 5px;
}
.pf_Card .pf_detailArea .pf_country .pf_cantryIcon {
  display: inline-block;
  vertical-align: middle;
}
.pf_Card .pf_detailArea .pf_country .pf_cantryIcon a {
  width: 30px;
}
.pf_Card .pf_detailArea .pf_country .pf_cantryIcon a .pf_countryName {
  visibility: hidden;
  opacity: 0;
  padding: 5px 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #FF6A2E;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  top: 2px;
  left: 110px;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pf_Card .pf_detailArea .pf_country .pf_cantryIcon a .pf_countryName:before {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid #FF6A2E;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.pf_Card .pf_detailArea .pf_country .pf_cantryIcon a:hover .pf_countryName {
  visibility: visible;
  opacity: 1;
  left: 100px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pf_Card .pf_detailArea .pf_type {
  padding: 5px;
}
.pf_Label {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.pf_icon_thailand {
  width: 30px;
  height: 20px;
  background: url(../img/icon/THAILAND_ICON_30x20.png);
  background-size: cover;
}
.pf_contactMsg {
  padding: 5px 25px;
  margin-bottom: 10px;
}
.pf_MenuBox {
  display: flex;
  display: -webkit-flex;
  -webkit-align-item: baseline;
  align-items: baseline;
  margin-bottom: 0px;
}
.pf_MenuBox > .contentTitle {
  height: 70px;
  padding: 20px 0 10px;
}
.pf_MenuBox > .contentTitle h1 {
  margin: 0;
}
.pf_MenuBox > .contentSubject {
  margin: 0 0 0 20px;
}
/* Global Location */
.imageHoldBox {
  position: relative;
}
.imageHoldBox .corpNameBox {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  width: 100%;
  height: 65px;
}
.glc_corpNameBox {
  display: flex;
  display: -webkit-flex;
  -webkit-align-item: baseline;
  align-items: baseline;
  margin-bottom: 0px;
}
.glc_corpNameBox .contentTitle {
  height: 70px;
  padding: 20px 0 10px;
}
.glc_corpNameBox .contentTitle h1 {
  margin: 0;
}
.glc_corpNameBox .contentSubject {
  margin: 0 0 0 20px;
}
.glc_corpNameBox .corpName {
  height: 70px;
  padding: 20px 0 10px;
}
.glc_corpNameBox .corpName h1 {
  margin: 0;
}
.glc_corpNameBox .corpName {
  height: 70px;
  padding: 20px 0 10px;
}
.glc_corpNameBox .corpName h1 {
  margin: 0;
}
.glc_corpNameBox .corpSubName {
  margin: 0 0 0 20px;
}
.glc_corpNameBox .corpContry {
  margin-left: auto;
}
.glc_corpNameBox .corpContry .corpCountryFlag {
  float: left;
  padding-top: 3px;
}
.glc_corpNameBox .corpContry .corpCountryName {
  float: left;
}
.glc_corpNameBox .corpContry .corpCountryName .contryName_ja {
  padding: 0 0 3px 5px;
  font-size: 0.8rem;
}
.glc_corpNameBox .corpContry .corpCountryName .contryName_en {
  padding-left: 5px;
  font-weight: bold;
}
.corpInfoTable {
  padding: 0 25px 20px;
}
.glc_draft {
  padding: 0 15px;
  text-align: justify;
}
.glc_draft p {
  line-height: 2rem;
  margin-bottom: 1rem;
}
.corpFacilityImage {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}
.corpFacilityImage img {
  left: -30px;
  top: 0;
}
.dc_map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}
.dc_map iframe,
.dc_map object,
.dc_map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}
/* Location corp */
.lc_Card {
  border: 1px solid #9B9B9B;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.lc_Card .lc_image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #9B9B9B;
}
.lc_Card .lc_detailArea {
  background: rgba(238, 238, 238, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: table;
  vertical-align: middle;
  padding: 10px 5px 5px;
}
.lc_Card .lc_detailArea .lc_areaInfo {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}
.lc_Card .lc_detailArea .lc_prod p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.lc_Card .lc_detailArea .lc_facility p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.lc_Label {
  font-size: 1.2rem;
  font-weight: bold;
  float: left;
}
/* Global Network */
.gn_linkBox {
  width: 100%;
  height: 110px;
  background: #EEEEEE;
  display: flex;
  display: -webkit-flex;
  margin-bottom: 20px;
}
.gn_linkBox .gn_linkImage {
  flex: 1;
  width: 100%;
  height: 110px;
  background: #4A4A4A;
  overflow: hidden;
}
.gn_linkBox .gn_detail {
  padding: 5px 10px;
  flex: 3;
}
.gn_linkBox .gn_detail .gn_corpAbb {
  font-size: 2.5rem;
  font-weight: bold;
}
.gn_linkBox .gn_detail .gn_corpName {
  font-size: 1.2rem;
  font-weight: bold;
}
.gn_linkBox .gn_detail .gn_detail_underArea {
  margin-top: 5px;
}
.gn_linkBox .gn_detail .gn_detail_underArea .gn_contactArea {
  float: left;
  width: 50%;
}
.gn_linkBox .gn_detail .gn_detail_underArea .gn_corpTel {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.gn_linkBox .gn_detail .gn_detail_underArea .gn_corpFax {
  font-size: 1.2rem;
}
.gn_linkBox .gn_detail .gn_detail_underArea .gn_corpBtn {
  float: right;
}
.gn_Button {
  position: relative;
  height: 30px;
  width: 80px;
  background-image: linear-gradient(top, #0095D1 0%, #0077A7 100%);
  background-image: -moz-linear-gradient(top, #0095D1 0%, #0077A7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0095D1), to(#0077A7));
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  top: 0;
  box-shadow: 0px 5px 0 0 #003B53;
  -webkit-box-shadow: 0px 5px 0 0 #003B53;
}
.gn_Button:hover {
  background-image: linear-gradient(top, #66BFE3 0%, #33AADA 100%);
  background-image: -moz-linear-gradient(top, #66BFE3 0%, #33AADA 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66BFE3), to(#33AADA));
  box-shadow: 0px 5px 0 0 #0077A7;
  -webkit-box-shadow: 0px 5px 0 0 #0077A7;
}
.gn_Button:active {
  top: 5px;
  background-image: linear-gradient(top, #0077A7 0%, #0095D1 100%);
  background-image: -moz-linear-gradient(top, #0077A7 0%, #0095D1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077A7), to(#0095D1));
}
.gn_Button:active:before {
  top: 0;
}
.gn_Button a {
  display: block;
  height: 30px;
  width: 80px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
/* information Page */
.infoMenuTitle {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
  background: #9B9B9B;
  color: #fff;
  padding-left: 20px;
  font-size: 1.8rem;
}
.archiveYear {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}
.archiveList ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1.8rem;
  background: #D8D8D8;
  border-bottom: 1px solid #9B9B9B;
}
.archiveList ul li a {
  padding-left: 20px;
  display: block;
  color: #4A4A4A;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.archiveList ul li a i {
  color: #4A4A4A;
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.archiveList ul li a:hover {
  background: #9B9B9B;
  color: #EEEEEE;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.archiveList ul li a:hover i {
  color: #EEEEEE;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.archiveList ul .sideMenu_active {
  padding-left: 20px;
  background: #00597D;
  color: #fff;
}
.infoPageTitle {
  padding: 0;
  margin-bottom: 15px;
  color: #00597D;
  font-weight: bold;
}
/* postPage */
.postPageTitle {
  font-size: 2.5rem;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #D8D8D8;
}
.postInfo {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  display: flex;
}
.postInfo div {
  margin-right: 10px;
}
.postMain {
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.postMain p {
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
/* Global Location Page */
.gl_headerBlock {
  border-bottom: 1px solid #9B9B9B;
  margin-bottom: 10px;
}
.gl_listHeader {
  margin: 10px auto;
  width: 160px;
}
.gl_listHeader img {
  float: left;
  margin-right: 10px;
}
.gl_listHeader h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 3px;
}
.gl_detailArea {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 2px;
}
.gl_image {
  overflow: hidden;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}
.gl_contryflag {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
.gl_contryName .gl_contryName_en {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
/* Company Info page */
.ci_list ul li {
  font-size: 1.4rem;
}
/* Greeting */
.greetingTitle {
  font-weight: bold;
  color: #00597D;
}
.greetingTitle p {
  margin-bottom: 1.8rem;
}
.predidentImageArea {
  float: right;
  background: #EEEEEE;
  box-sizing: border-box;
  border: 1px solid #9B9B9B;
  margin: 0 20px;
}
.predidentImageArea .predidentNameArea {
  padding: 5px 20px;
}
.predidentImageArea .predidentNameArea p {
  margin: 0;
}
.predidentImageArea .predidentNameArea .mngPosition {
  font-size: 1.2rem;
  text-align: center;
}
.predidentImageArea .predidentNameArea .predidentName {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
}
.predidentSign {
  text-align: right;
  margin-bottom: 50px;
}
.predidentSign p {
  line-height: 2rem;
}
.predidentSign .predidentName {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}
/* これから　*/
.viewTitle {
  font-weight: bold;
  color: #FF6A2E;
  margin: 30px 0 15px;
}
.viewTitle p {
  margin-bottom: 1.8rem;
}
/* 理念 */
.ideaArea {
  font-size: 3.1rem;
  margin-bottom: 20px;
}
.ideaArea p {
  text-align: center;
  line-height: 6.2rem;
  font-weight: bold;
}
.hisroryArea ul li {
  padding: 8px 0;
  border-bottom: 1px solid #D8D8D8;
}
.hisroryArea ul li span {
  margin-right: 20px;
}
/* 環境方針 */
.ecoTextArea {
  padding: 0 5px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.ecoTextArea p {
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.ecoList li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}
.ecoList li:before {
  display: block;
  content: "\f0c8";
  font-family: "FontAwesome";
  width: 1rem;
  height: 1rem;
  color: green;
  position: absolute;
  left: -5px;
  top: 0;
}
/* 会社概要　役員　アクセス */
.listStyleON {
  padding-left: 20px;
}
.listStyleON li {
  list-style: disc;
}
.offierList {
  margin-top: 10px;
}
.offierList table,
.offierList td,
.offierList th {
  border: 1px solid #595959;
  border-collapse: collapse;
}
.offierList th {
  background: #99D4EC;
  text-align: center;
  font-weight: bold;
}
.offierList td,
.offierList th {
  padding: 3px;
  width: 180px;
  height: 25px;
}
.offierList .ranks {
  background: #EEEEEE;
}
.offierListTable p {
  padding: 5px 0;
  font-size: 1.2rem;
}
.mapillust_image {
  margin: 20px 0;
}
.mapillust_image img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.mapillust_image img:hover {
  top: -4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
}
.access_map {
  margin-top: 20px;
  position: relative;
  padding-bottom: 72%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.access_map iframe,
.access_map object,
.access_map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.table2colomun_access {
  width: 100%;
}
.table2colomun_access th {
  width: 10%;
  vertical-align: top;
  font-weight: bold;
  padding: 10px;
}
.table2colomun_access td {
  padding: 10px;
}
/* 会社案内 */
.companyInfo_Card2x {
  height: 240px;
  margin: 10px 0;
  display: block;
}
.companyInfo_Card1x {
  height: 110px;
  margin: 10px 0;
  display: block;
}
.companyInfo_Card_title {
  background: #00597D;
  color: #fff;
  padding: 10px;
  height: 40px;
}
.companyInfo_Card_detail2x {
  background: #EEEEEE;
  padding: 15px;
  height: 200px;
  text-align: justify;
}
.companyInfo_Card_detail2x img {
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
}
.companyInfo_Card_detail1x {
  background: #EEEEEE;
  padding: 10px;
  height: 70px;
}
.ciCard_link {
  width: 100%;
  margin: 20px auto;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.ciCard_link:hover {
  top: -4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
}
.ci_linkArea a {
  color: #000;
}
/* recruite */
.recruite_Card {
  padding: 15px;
  height: 200px;
  text-align: center;
}
.recruite_Card img {
  background: #fff;
  padding: 10px;
  margin: 5px auto;
}
.rec_Card_link {
  width: 240px;
  margin: 20px auto;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.rec_Card_link:hover {
  top: -4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4);
}
/*  */
.mm_menuAnno {
  color: #4A4A4A;
}
.fmTable_Area table {
  border-collapse: separate;
}
.fmTable_Area tr:hover:not(:nth-child(2)):not(:first-child) {
  background: #f5f09f;
}
.fmTable_Area tr td {
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.fmTable_Area tr td:hover:not(:first-child) {
  font-size: 3rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #b60c0c;
}
.fmTable_Area tr:first-child td:hover {
  font-size: 1.4rem;
  color: #000;
}
.fmTable_Area tr:nth-child(2) td:hover {
  font-size: 1.2rem;
  color: #000;
}
.fmTable_Area .tdhoverCancel:hover {
  font-size: 1.2rem !important;
}
.fmTable_Area .even {
  background: #EEEEEE;
}
.fmTable_Area .odd {
  background: #fff;
}
td:active {
  color: red;
}
.makeCate {
  width: 40px;
  background: #00597D;
  vertical-align: middle;
  padding: 0 12px;
}
.makeCate p {
  font-weight: bold;
  color: #fff;
}
.bottomWhite {
  border-bottom: 1px solid #fff !important;
}
.topLineHidden {
  border-top-style: hidden;
}
.corner {
  background-color: #fff;
  border-left-style: hidden;
  border-top-style: hidden;
}
.functionTitle {
  width: 160px;
  height: 50px;
  vertical-align: middle;
  padding: 5px;
  font-size: 1.2rem;
}
.cornerRad-tl {
  border-top-left-radius: 10px;
}
.cornerRad-bl {
  border-bottom-left-radius: 10px;
}
.cornerRad-tr {
  border-top-right-radius: 10px;
}
.cornerRad-br {
  border-bottom-right-radius: 10px;
}
.ctiyName td {
  width: 95px;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
}
.trUnderDot td {
  border-bottom: 1px dashed #9B9B9B;
}
.trUnderSolid td {
  border-bottom: 1px solid #9B9B9B;
}
.trTopSolid td {
  border-top: 1px solid #9B9B9B;
}
.underSolid {
  border-bottom: 1px solid #9B9B9B !important;
}
.topSolid {
  border-top: 1px solid #4A4A4A;
}
.leftDot {
  border-left: 1px dashed #9B9B9B;
}
.leftSolid {
  border-left: 1px solid #9B9B9B;
}
.rightSolid {
  border-right: 1px solid #9B9B9B;
}
.trRightBorderFC td:nth-child(3),
.trRightBorderFC td:nth-child(4),
.trRightBorderFC td:nth-child(8),
.trRightBorderFC td:nth-child(10),
.trRightBorderFC td:nth-child(11),
.trRightBorderFC td:nth-child(12) {
  border-left: 1px solid #9B9B9B;
}
.trRightBorderFC td:nth-child(5),
.trRightBorderFC td:nth-child(6),
.trRightBorderFC td:nth-child(7),
.trRightBorderFC td:nth-child(9) {
  border-left: 1px dashed #9B9B9B;
}
.trRightBorderFC td:last-child {
  border-right: 1px solid #9B9B9B;
}
.trRightBorder td:nth-child(2),
.trRightBorder td:nth-child(3),
.trRightBorder td:nth-child(7),
.trRightBorder td:nth-child(9),
.trRightBorder td:nth-child(10),
.trRightBorder td:nth-child(11) {
  border-left: 1px solid #9B9B9B;
}
.trRightBorder td:nth-child(4),
.trRightBorder td:nth-child(5),
.trRightBorder td:nth-child(6),
.trRightBorder td:nth-child(8) {
  border-left: 1px dashed #9B9B9B;
}
.trRightBorder td:last-child {
  border-right: 1px solid #9B9B9B;
}
.trRightBorderCN td:nth-child(1),
.trRightBorderCN td:nth-child(2),
.trRightBorderCN td:nth-child(6),
.trRightBorderCN td:nth-child(8),
.trRightBorderCN td:nth-child(9),
.trRightBorderCN td:nth-child(10) {
  border-left: 1px solid #9B9B9B;
}
.trRightBorderCN td:nth-child(3),
.trRightBorderCN td:nth-child(4),
.trRightBorderCN td:nth-child(5),
.trRightBorderCN td:nth-child(7) {
  border-left: 1px dashed #9B9B9B;
}
.trRightBorderCN td:last-child {
  border-right: 1px solid #9B9B9B;
}
.mm_contryName {
  text-align: center;
  height: 40px;
}
/* test */
.testPost {
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-content: stretch;
  /* Safari */
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  margin: 5px 0;
}
.testPost .testinfoDate {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 90px !important;
}
.testPost .testinfoCate {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 70px !important;
  background-color: aquamarine;
}
.testPost .testinfoSubject {
  text-align: justify;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
.clear {
  clear: both;
}
.tategakiTest {
  -ms-writing-mode: tb-rl;
  /* for MS IE8+ */
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.testBox {
  background: #B11C00;
  height: 40px;
  width: 100%;
  margin: 10px 0px 0px 0px;
  color: #fff;
}
.testBox {
  background: #B11C00;
  height: 40px;
  width: 100%;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  line-height: 18px;
}
.testBox a {
  display: block;
  background: blue;
  height: 40px;
  width: 100%;
}

/*# sourceMappingURL=wrapper.css.map */